/*---------- menu css ----------*/
/*dropdown menu*/
.c-dropdown-menu{
  padding: 12px 0;
  background: #fff;
  position: absolute;
  top: 100%;
  //top: calc(100% + 12px);
  left: 0;
  width: 220px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  margin-top: -10px;
  @include transition-all(0.2s);
  border: 1px solid $color-border;
  @include box-shadow(0 2px 4px rgba($color-black,0.15));
  &:before{
    //content: "";
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $color-white;
    border-left: 8px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 2;
    left: 15px;
    top: -16px;
  }
  &:after{
    //content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    height: 12px;
    top: -12px;
    background: transparent;
  }
  &.is-right{
    left: auto;
    right: 0;
    &:before{
      left: auto;
      right: 15px;
    }
  }
  &.is-circle{
    @include border-radius(6px);
  }
  >ul{
    list-style: none;
    margin: 0;
    padding: 0;
    >li{
      &.divider{
        height: 1px;
        background: $color-border;
        margin: 5px 0;
      }
      >a{
        display: block;
        text-decoration: none;
        color: $color-text;
        padding: 4px 10px 4px 20px;
        font-size: 13px;
        text-align: left;
        span{
          color: $color-time;
        }
      }
      >ul{
        list-style: none;
        margin: 0;
        padding: 0;
        >li{
          position: relative;
          z-index: 1;
          &:before{
            content: "";
            position: absolute;
            z-index: 2;
            top: 9px;
            left: 25px;
            width: 3px;
            height: 3px;
            background: $color-time;
            @include border-radius(100%);
          }
          >a{
            display: block;
            text-decoration: none;
            color: $color-text;
            padding: 2px 10px 2px 35px;
            font-size: 12px;
            text-align: left;
            span{
              color: $color-time;
            }
          }
        }
      }
    }
  }
}
/*end dropdown menu*/
.c-menu-outer{
  background: $color-primary;
}
.c-menu-inner{
  position: relative;
  z-index: 99;
}
.c-alias{
  &__btn{
    background: $color-primary-dark;
    height:46px;
    font-weight: 400;
    display: none;
    width: 250px;
    line-height: 46px;
    color: $color-white;
    font-size: 15px;
    padding: 0 15px;
    text-transform: uppercase;
    .fa-chevron-down{
      float: right;
      margin-top: 16px;
    }
    .fa-list-ul{
      margin-right: 15px;
    }
  }
  &__expand{
    width: 250px;
    border-right:1px solid $color-border;
    background: $color-white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    z-index: 200;
    overflow: auto;
    @include transition-all(0.2s);
    >ul{
      list-style: none;
      margin: 0;
      padding: 0;
      >li{
        border-bottom: 1px solid $color-border;
        >a{
          display: block;
          text-decoration: none;
          color: $color-text;
          padding: 12px 25px 12px 15px;
          position: relative;
          z-index: 1;
          .fa-angle-right{
            position: absolute;
            z-index: 2;
            top: 14px;
            right: 15px;
            display: none;
          }
          .c-alias-mobile__expand-sub{
            position: absolute;
            z-index: 2;
            top: 15px;
            right: 17px;
          }
        }
      }
    }
  }
  &__more{
    a{
      display: block;
      padding: 9px 15px;
      text-decoration: none;
      .fas{
        margin-left: 5px;
      }
    }
  }
}
.c-alias-sub{
  display: none;
  background: $color-white;
  &__content{
    padding: 0 15px 0 25px;
    label{
      margin-bottom: 10px;
      //display: none;
      font-weight: 700;
    }
    ul{
      list-style: none;
      margin: 0 0 10px;
      padding: 0;
      li{
        a{
          text-decoration: none;
          color: $color-text;
          display: block;
          padding: 5px 0;
        }
      }
    }
  }
  &__img{
    display: none;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
.c-alias-banner{
  border-right: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}
.c-alias-close{
  color: $color-primary;
  display: block;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
}
.c-app-ovelay{
  z-index:-1;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:#000;
  background:rgba(0,0,0,0.6);
  opacity:0;
  visibility:hidden;
  @include transition-all(0.2s);
}
.has-ovelay-show{
  visibility:visible;
  opacity:1;
  z-index:98;
}
.has-menu-open{
  transform: translate3d( 250px, 0, 0 );
  -webkit-transform: translate3d( 250px, 0, 0 );
}
.has-body-open{
  //overflow:hidden;
}
.c-menu{
  position: absolute;
  z-index: 2;
  top: 100%;
  left: -15px;
  right: -15px;
  background: $color-primary;
  @include box-shadow(0 4px 4px rgba(0,0,0,0.15));
  display: none;
  >ul{
    list-style: none;
    margin: 0;
    padding: 0;
    >li{
      position: relative;
      z-index: 1;
      &.c-menu-child{
        position: relative;
        z-index: 10;
        >a{
          position: relative;
          z-index: 2;
        }
      }
      >a{
        text-decoration: none;
        color: $color-white;
        display: block;
        padding: 10px 15px;
        text-transform: uppercase;
      }
      &.c-menu__commit{
        display: none;
      }
    }
  }
}
.c-menusecond-expand{
  border: none;
  background: transparent;
  height: 60px;
  padding: 0;
  text-transform: uppercase;
  color: $color-white;
  display: none;
  &:focus{
    outline: none;
    border: none;
  }
  .fas{
    margin-right: 10px;
  }
}
//menu responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){
  .c-dropdown-menu{
    >ul{
      >li{
        &:hover{
          >a{
            color: $color-primary;
          }
        }
        >ul{
          >li{
            &:hover{
              >a{
                color: $color-primary;
              }
            }
          }
        }
      }
    }
  }
  .c-menu-outer{
    //border-bottom: 1px solid $color-border;
    height: 46px;
  }
  .c-menu-inner{
    min-height: 46px;
  }
  .c-alias{
    width: 300px;
    &__btn{
      display: block;
      width: 300px;
    }
    &__expand{
      display: none;
      position: absolute;
      z-index: 2;
      top: 46px;
      left: 0;
      bottom: auto;
      overflow: visible;
      border-left: 1px solid $color-border;
      width: 300px;
      >ul{
        >li{
          >a{
            padding: 9px 25px 9px 15px;
            .fa-angle-right{
              display: block;
            }
            .c-alias-mobile__expand-sub{
              display: none;
            }
          }
          &:hover{
            >a{
              z-index: 3;
              color: $color-primary;
              &:before{
                content: "";
                position: absolute;
                z-index: 2;
                top: 0;
                right: -1px;
                bottom: 0;
                width: 1px;
                background: $color-white;
              }
            }
            .c-alias-sub{
              display: block !important;
            }
          }
          &.is-single{
            &:hover{
              >a{
                &:before{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    &:hover{
      .c-alias__expand{
        display: block;
      }
    }
  }
  .c-alias-sub{
    position: absolute;
    z-index: 2;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 672px;
    border: 1px solid $color-border;
    &__content{
      position: relative;
      z-index: 3;
      padding: 5px 15px;
      ul{
        margin: 0;
        li{
          &:hover{
            a{
              color: $color-primary;
            }
          }
        }
      }
    }
    &__img{
      display: block;
    }
  }
  .c-alias-close{
    display: none;
  }
  .c-menu{
    left: 300px;
    top: 0;
    right: auto;
    display: block !important;
    background: transparent;
    padding-left: 15px;
    @include box-shadow(none);
    >ul{
      >li{
        float: left;
        >a{
          line-height: 46px;
          padding: 0 15px;
          color: $color-white;
          @include transition-all(0.2s);
          .icon24-check{
            margin-left: 7px;
          }
          .c-submenu-btn{
            display: none;
          }
        }
        &.c-menu__commit{
          display: block;
          padding: 0 10px 0 50px;
          [class*="icon48"]{
            float: left;
            margin: 3px 0 0 -45px;
            width: 38px;
            height: 38px;
            background-size: 100% 100%;
          }
          .c-menu__text{
            display: block;
            width: 140px;
            font-weight: 400;
            text-transform: none;
            font-size: 12px;
            line-height: 18px;
            padding-top: 5px;
            color: $color-white;
          }
        }
        &:hover{
          >a{
            color: $color-bg2;
          }
          >.c-dropdown-menu{
            z-index: 2;
            visibility: visible;
            opacity: 1;
            @include transform(translate3d( 0, 10px, 0));
            text-align: left;
          }
        }
        &.c-menu-child{
          position: relative;
          z-index: 10;
          >.c-dropdown-menu{
            display: block !important;
            width: 250px;
            >ul{
              >li{
                >a{
                  .c-submenu-btn{
                    display: none;
                  }
                }
                &.c-menu-child{
                  position: relative;
                  z-index: 1;
                  >.c-dropdown-menu{
                    top: -13px;
                    left: 100%;
                  }
                }
                &:hover{
                  >.c-dropdown-menu{
                    z-index: 2;
                    visibility: visible;
                    opacity: 1;
                    @include transform(translate3d( 0, 10px, 0));
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .c-menusecond-expand{
    display: none;
  }
}
@media (min-width: $screen-lg-min){
  .c-alias{
    width: 330px;
    &__btn{
      width: 330px;
    }
    &__expand{
      width: 330px;
    }
  }
  .c-alias-sub{
    //width: 330px;
  }
  .c-menu{
    left: 330px;
    >ul{
      >li{
        &.c-menu__commit{
          padding: 0 20px 0 90px;
          [class*="icon48"]{
            margin: 3px 0 0 -55px;
          }
        }
        >a{
          padding: 0 20px;
        }
      }
    }
  }
}
@media (max-width: $screen-sm-max){
  .c-menu{
    >ul{
      >li{
        &.c-menu-child{
          .c-dropdown-menu{
            background: $color-text;
            position: static;
            margin-top: 0;
            visibility: visible;
            opacity: 1;
            display: none;
            width: auto;
            padding: 0;
            @include transition(none);
            @include box-shadow(none);
            border: none;
            &:before{
              display: none;
            }
            &:after{
              display: none;
            }
            >ul{
              >li{
                >a{
                  padding: 7px 10px 7px 40px;
                  color: $color-white;
                  .c-submenu-btn{
                    position: absolute;
                    top: -5px;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                    width: 40px;
                    font-size: 18px;
                    padding: 0;
                    text-align: center;
                    line-height: 42px;
                  }
                }
                &:before{
                  display: none;
                }
                &.c-menu-child{
                  >a{
                    position: relative;
                    z-index: 1;
                  }
                  .c-dropdown-menu{
                    >ul{
                      >li{
                        >a{
                          padding: 7px 10px 7px 50px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//end menu responsive css
/*---------- end menu css ----------*/