/*---------- postmartmall home css ----------*/
.c-supplier-item{
  &__thumb{
    padding-top: percentage(2/3);
    position: relative;
    z-index: 1;
    overflow: hidden;
    a{
      display: block;
      display: flex;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      justify-content: center;
      align-items: center;
    }
    img{
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.c-supplier-grid{
  padding-top: 10px;
  ul{
    list-style: none;
    margin: 0 -5px;
    padding: 0;
    li{
      width: percentage(1/2);
      float: left;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 10px;
    }
  }
}
.c-product-full{
  ul{
    list-style: none;
    margin: 0 -3px;
    padding: 0;
    li{
      float: left;
      width: percentage(1/2);
      margin-bottom: 6px;
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}
.c-postmartmall-banner{
  margin-top: 12px;
}
.c-slider{
  position: relative;
  z-index: 1;
  .owl-carousel{
    .owl-dots{
      line-height: 12px;
      text-align: center;
      position: absolute;
      z-index: 2;
      bottom: 15px;
      left: 0;
      right: 0;
      .owl-dot{
        width: 12px;
        height: 12px;
        @include border-radius(100%);
        background: $color-border2;
        margin: 0 4px;
        display: inline-block;
        vertical-align: middle;
        &.active{
          background: $color-primary;
        }
      }
    }
  }
}
.c-banner-small{
  list-style: none;
  margin: 6px -3px 0;
  padding: 0;
  overflow: hidden;
  li{
    float: left;
    width: percentage(1/2);
    padding-left: 3px;
    padding-right: 3px;
    a{
      display: block;
      text-decoration: none;
      img{
        width: 100%;
      }
    }
  }
}
//postmartmall home responsive css
@media (min-width: $screen-xs-small-min){// mobile lanscape
  .c-supplier-grid{
    ul{
      li{
        width: percentage(1/3);
      }
    }
  }
}
@media (min-width: $screen-sm-min){// ipad 768px
  .c-supplier-grid{
    ul{
      li{
        width: percentage(1/4);
      }
    }
  }
  .c-product-full{
    ul{
      margin: 0 -5px;
      li{
        margin-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        width: percentage(1/3);
      }
    }
  }
}
@media (min-width: $screen-md-min){//pc 1024px up
  .c-supplier-grid{
    ul{
      li{
        width: percentage(1/6);
      }
    }
  }
  .c-product-full{
    ul{
      li{
        margin-bottom: 15px;
        width: percentage(1/4);
      }
    }
  }
  .c-postmartmall-banner{
    &__left{
      float: left;
      width: percentage(870/1170);
    }
    &__right{
      float: right;
      width: percentage(290/1170);
    }
  }
  .c-banner-small{
    margin: 0;
    li{
      float: none;
      margin-bottom: 5px;
      width: auto;
      padding-left: 0;
      padding-right: 0;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
@media (min-width: $screen-lg-min){//pc 1200px up
  .c-supplier-grid{
    ul{
      margin: 0 -10px;
      li{
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .c-product-full{
    ul{
      margin: 0 -10px;
      li{
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
        width: percentage(1/6);
      }
    }
  }
  .c-banner-small{
    li{
      margin-bottom: 6px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
@media (min-width: $screen-xl-min){//pc 1440px up

}
//end postmartmall home responsive css
/*---------- end postmartmall home css ----------*/