.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: block;
    background: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
}
.loading-inner {
    width: 190px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -95px;
    margin-top: -40px;
    background: #fff;
    opacity: 0.85;
    border-radius: 10px;
}
.loading-img {
    background: url(../images/loading.gif) no-repeat;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 10px auto 5px;
}
.pd-detail {
    padding: 20px; 
    background: #fff;
    border-radius: 16px 0;
    margin-bottom: 30px;
}
.pd-content {
	width: 800px;
	float: left;
}
/*.product-detail .pd-title {
    margin-left: 370px;
    border-bottom: 1px solid #ddd;
}*/
.pd-title .sf-row {
    margin: 0 0 5px;
    font-size: 13px;
}
.pd-title .sf-row .fa {
    color: #ffc000;
}
.pd-title h1 {
    font-size: 20px;
    margin: 0; 
}
.pd-thumb {
	width: 350px;
	float: left;
	/*margin-top: -53px;*/
    margin-top: 0;
}
.pi-slider {
    border: 1px solid #ddd;
    position: relative; 
    margin: 0 auto 15px; 
    border-radius: 20px;
    overflow: hidden;
}
.pd-zoom { 
    position: absolute;
    z-index: 2;
    bottom: 0px;
    right: 0px;
    color: #c81623;
    font-size: 26px;
    cursor: pointer;
    padding: 10px;
    background: #f0f0f0;
}
.pi-slider .pi-inner {
    display: block;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 350px;
    height: 350px;

}
.pi-slider .pi-inner img {
    max-width: 348px;
    max-height: 348px; 
    width: auto !important;
    display: inline !important;
}
.pi-item {
    height: 68px;
    width: 68px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ddd;
    padding: 2px;
}
.pi-item a {
    display: block;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 64px;
    height: 64px;
}
.pi-item img {
    max-width: 64px;
    max-height: 64px;
    width: auto !important;
    display: inline !important;
}
.pi-item.active, .pi-item:hover {
    border-color: #f8b61b;
}
.pd-thumb .pd-slider {
	padding: 0 20px;
    position: relative;
    z-index: 1;
    margin: 0 auto 15px;
    width: 350px;
}
.pd-thumb .owl-carousel .owl-controls .owl-nav .owl-prev, 
.pd-thumb .owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    font-family: FontAwesome;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    color: #44994c;
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: 10;
    font-size: 25px; 
    margin-top: -20px;
    text-indent: -99999999999999; 
    height: 100%;
    width: 20px;
    padding: 23px 5px;
}
.pd-thumb .owl-carousel .owl-controls .owl-nav .owl-prev:hover, 
.pd-thumb .owl-carousel .owl-controls .owl-nav .owl-next:hover {
    color: #f8b61b;
}
.pd-thumb .owl-carousel .owl-controls .owl-nav .owl-next {
    left: auto;
    right: -20px;
}
.pd-thumb .owl-carousel .owl-controls .owl-nav .owl-prev:before {
    content: "";
}
.pd-thumb .owl-carousel .owl-controls .owl-nav .owl-next:before {
    content: "";
} 
.pd-text {
    margin-left: 370px; 
}
.pd-text .pd-row {
    margin-bottom: 5px; 
    font-size: 13px;
    min-height: 18px;
    position: relative;
    z-index: 3;
}
.pd-text .text-line-thought {
    color: #999;
    text-decoration: line-through;
}
.pd-text .box-row {
    padding: 15px 0 0;
}
.pd-text .box-row ul li {
    padding-bottom: 10px;
}
.icon-cart-dt {
    background: url(../images/triper.png) no-repeat -48px -48px;
    width: 24px;
    height: 21px;
    position: absolute;
    left: 15px;
    top: 4px;
}
.btn-cart,
.btn-cart:hover {
    background: #004689;
    border-color: #004689;
    border-radius: 0 16px;
    color: #fff;
    position: relative;
    padding-left: 50px;
}
.btn-outstock {
    background: #ee1c25;
    border-color: #ee1c25;
    padding-left: 0;
    color: #fff;
    border-radius: 0 16px;
}
.box-row label {
    padding-top: 4px;
}
.box-row .pd-range {
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
}
.box-row .pd-range .pr-top {
    float: left;
}
.box-row .pd-range .pr-top, 
.box-row .pd-range .pr-bottom {
    background: #eee;
    padding: 3px 0 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 27px;
    height: 27px;
    cursor: pointer;
    display: block;
    color: #004689;
}
.box-row .pd-range .pr-bottom {
    float: right;
}
.box-row .pd-range .text {
    text-align: center;
    width: 65px;
    height: 27px;
    border: none;
    background: #fff;
}
.box-check {
    border-bottom: 1px solid #ddd;
}
.pd-text .big-price {
    font-size: 22px;
    color: #ee1c25;
    font-weight: bold;
    display: inline-block;
    vertical-align: top; 
} 
.pd-text .big-price span.text-small {
    font-size: 14px;
}
.box-buynow {     
    padding: 10px; 
    margin-top:20px;
    margin-left: 5px;
    position: relative;
}
.box-buynow:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #f8b31b;
    position: absolute;
    left: -5px;
    top: 0;
    border-radius: 0 16px;
    z-index: 1;
} 
.box-buynow:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #ececec;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0 16px;
    z-index: 2;
} 
.box-buynow .box-row {
    display: block;
    margin-bottom: 15px;
} 
.box-buynow .box-row:last-child p {
    margin-bottom: 5px;
}
.box-buynow .box-row label {
    float: left;
    min-width: 100px; 
    margin: 0 10px 0 0;
    padding-top: 5px;
}
.box-buynow .box-row .box-right span {
    padding: 5px 10px;
    display: inline-block;
}
.form-sl {
    width: 90px;
    float: left;
}
.box-buynow .pd-text-box { 
    position: relative;
}
.box-buynow .pd-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    margin: 0 8px 3px 0;
    padding: 1px;
    cursor: pointer;
    min-height: 30px;
    min-width: 30px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.box-buynow .pd-item .pi-color {
    height: 30px;
    width: 30px;
    float: left;
}
.box-buynow .pd-text-box .pd-item .ic-check {
    width: 0;
    height: 0;
    border-bottom: 18px solid #e5101d;
    border-left: 18px solid transparent;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    margin: 0;
    display: none;
}
.box-buynow .pd-text-box .pd-item:hover, 
.box-buynow .pd-text-box .pd-item.checked {
    border: 1px solid #c00;
    padding: 1px;
}
.box-buynow .pd-text-box .pd-item .ic-check .fa-check {
    position: absolute;
    right: 0;
    top: 7px;
    color: #fff;
}
.info-content-right ul li {
    padding-bottom: 13px;
} 
.pd-content-right .text-right-pd .content-text-pd {
    height: 54px;
    overflow: hidden;
}
.pd-content-right {
    width: 270px; 
}
.info-content-right,
.box-amazon {
    padding: 15px;
    background: #ececec;
    border-radius: 16px 0;
}  
.list-items-box {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
} 
.img-en {
    width: auto;
    height: 18px;
}
.img-en img {
    max-height: 18px;
}
.pd-content-right h3 {
    margin: 10px 0 30px;
    text-align: center;
    color: #c81623;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
}
.pd-content-right h3:before {
    content: '';
    height: 3px;
    width: 100px;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    background: #c81623;
}
.pd-content-right .icon-img {
    width: 36px;
    height: 40px; 
    float: left;    
    position: relative; 
}
.icon-one {
    background: url(../images/triper.png)no-repeat 0px -127px; 
}
.icon-two {
    background: url(../images/triper.png)no-repeat -36px -127px; 
}
.icon-three {
    background: url(../images/triper.png)no-repeat -72px -127px; 
}
.icon-four {
    background: url(../images/triper.png)no-repeat -108px -127px; 
}
.pd-content-right .text-right-pd {
    margin-left: 50px;
}
.pd-content-right .text-right-pd p {
    margin-bottom: 0;
    font-size: 13px;
}
.title-text-pd {
    text-transform: uppercase;
    color: #44994c;
}
.pd-tabs .pt-content { 
    border-top: 1px solid #eaeaea;
    padding-top: 20px;
}
.pd-tabs .pt-title {
    height: 40px;
}
.pd-tabs .pt-title ul li {
    float: left;
    height: 40px;
    position: relative;
    z-index: 1;
}
.pd-tabs .pt-title ul li a {
    display: block;
    height: 40px;
    padding: 12px 15px 0;
    text-decoration: none;
    color: #666;
    font-size: 16px;
}
.pd-tabs .pt-title ul li.active a {
    color: #c81623;
    font-weight: 700;
}
.pd-tabs .pt-title ul li.active:after {
    content: "";
    position: absolute;
    background: #c81623;
    height: 5px;
    left: 0;
    right: 0;
    bottom: -3px;
}   
.box-sale-pd p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: #e41c2c;
} 
.info-technical table {
    border: 1px solid #ddd;
}
.table-form {
    border: 1px solid #ddd;
}
.table-form table {
    margin-bottom: 0;
}
.info-product h3 {
    text-transform: uppercase;
    position: relative;
    font-size: 18px;
    margin-bottom: 20px;
}
.info-product h3:after {
    content: '';
    width: 100px;
    height: 3px;
    background: #004689;
    position: absolute;
    bottom: -5px;
    left: 0;    
}
.info-product img {
    max-width: 100%;
}
/*responsive*/ 
@media (max-width: 1199px){ 
    .pd-content {
        width: 690px 
    } 
    .pi-slider .pi-inner {
        width: 339px;
        height: 339px;
    }
    .pi-slider .pi-inner img {
        max-width: 339px;
        max-height: 339px;
    }
    .pd-text {
        margin-left: 360px;
    }
    .pd-content-right {
        width: 230px;
    }
    .box-buynow .box-row .box-right span {
        font-size: 12px;
        padding: 5px 0px;
    }
    .pd-thumb .pd-slider {
        width: 349px;
    }
    .pd-detail-bottom .pd-content {
        width: 715px;
    }
    .pd-detail-bottom .pd-content-right {
        width: 250px;
    }
} 
@media (max-width: 991px){ 
    .pd-content-right {
        display: none;
    }
    .pd-content {
        width: 100%;
    }
    .box-buynow .box-row .box-right span {
        font-size: 12px;
        padding: 7px 10px;
    }
    .pd-detail-bottom .pd-content {
        width: 100%;
    }
    .bottom-container {
        margin-left: 0px;
        padding-top: 10px;
        float: none;
        text-align: center;
    }
} 
@media (max-width: 767px){ 
	.pd-thumb .pd-slider {
	    width: 100%;
	}
    .send-left  {
        margin-bottom: 0;
    }
    .product-detail .pd-title {
        margin-left: 0;
    } 
    .pd-thumb {
        width: 353px;
        height: 353px;
        float: none;
        margin: 20px auto;
    }
    .pi-slider {
        display: none;
    }
    .pi-item,.pi-item a {
        width: 313px;
        height: 347px;
    }
    .pi-item img {
        max-width: 100%;
        max-height: 100%;
    }
    .pd-thumb .owl-carousel .owl-controls .owl-nav .owl-prev, 
    .pd-thumb .owl-carousel .owl-controls .owl-nav .owl-next {
        position: absolute;
        font-family: FontAwesome;
        line-height: 1;
        font-weight: normal;
        font-style: normal;
        color: #000;
        position: absolute;
        top: 50%;
        left: auto;
        z-index: 10;
        font-size: 22px;
        margin-top: -20px;
        text-indent: -99999999999999;
        background: transparent;
        height: 100%;
        width: 20px;
        padding: 10px 5px;
    }
    .pd-thumb .owl-carousel .owl-controls .owl-nav .owl-next {
        left: auto;
        right: 0px;
    }
    .pd-text {
        margin-left: 0;
    }
}
@media (max-width: 736px){
}
@media (max-width: 667px){
}
@media (max-width: 640px){
    .box-search {
        width: 100%;
    }
}
@media (max-width: 533px){ 
    .pd-tabs .pt-title ul li a {
        padding: 12px 10px 0 0;
    }
    .info-sale-pd .slider-sale {
        margin-bottom: 0;
    }
}
@media (max-width: 480px){ 
    .pd-thumb .pd-slider {
        width: 322px;
        padding: 0;
        position: relative;
        z-index: 1;
        margin: 0 auto 15px;
    }
    .pi-item {
        width: 320px;
        height: 320px;
    } 
    .pi-item a {
     	width: 320px;
     	height: 320px;
     	display: table-cell;
     	vertical-align: middle;
     	text-align: center;
    }
    .pd-tabs .pt-title ul li {
        float: none;
    }
    .pd-tabs .pt-title {
        height: auto;
    }
}
@media (max-width: 414px){ 
	.pd-thumb {
	    width: auto;
	    height: auto;
	    float: none;
	    margin: 20px auto;
	}
}
@media (max-width: 375px){ 
	.pd-thumb .pd-slider {
		width: auto;
	}
	.pi-item {
		width: auto; 
	}
	.pi-item a {
		width: auto; 
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	} 
}
@media (max-width: 360px){
    .box-buynow .box-row label {
        min-width: 80px;
    }
}
@media (max-width: 320px){ 
}
/*end responsive*/