/* Webfont: Lato-Bold */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=vietnamese');

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.eot'); / IE9 Compat Modes /
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), / IE6-IE8 /
  url('../fonts/Lato-Bold.woff2') format('woff2'), / Modern Browsers /
  url('../fonts/Lato-Bold.woff') format('woff'), / Modern Browsers /
  url('../fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BoldItalic.eot'); / IE9 Compat Modes /
  src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), / IE6-IE8 /
  url('../fonts/Lato-BoldItalic.woff2') format('woff2'), / Modern Browsers /
  url('../fonts/Lato-BoldItalic.woff') format('woff'), / Modern Browsers /
  url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Heavy.eot'); / IE9 Compat Modes /
  src: url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), / IE6-IE8 /
  url('../fonts/Lato-Heavy.woff2') format('woff2'), / Modern Browsers /
  url('../fonts/Lato-Heavy.woff') format('woff'), / Modern Browsers /
  url('../fonts/Lato-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HeavyItalic */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-HeavyItalic.eot'); / IE9 Compat Modes /
  src: url('../fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), / IE6-IE8 /
  url('../fonts/Lato-HeavyItalic.woff2') format('woff2'), / Modern Browsers /
  url('../fonts/Lato-HeavyItalic.woff') format('woff'), / Modern Browsers /
  url('../fonts/Lato-HeavyItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Italic.eot'); / IE9 Compat Modes /
  src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), / IE6-IE8 /
  url('../fonts/Lato-Italic.woff2') format('woff2'), / Modern Browsers /
  url('../fonts/Lato-Italic.woff') format('woff'), / Modern Browsers /
  url('../fonts/Lato-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot'); / IE9 Compat Modes /
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), / IE6-IE8 /
  url('../fonts/Lato-Regular.woff2') format('woff2'), / Modern Browsers /
  url('../fonts/Lato-Regular.woff') format('woff'), / Modern Browsers /
  url('../fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}