.print-header{
            display: inline-block;
            width: 100%;
            margin-bottom: 20px;
        }
        .print-header .print-left{
            width: 50%;
            float: left;
        }
        .print-header .print-left .pl-logo{
            width: 165px;
        }
        .print-header .print-left .pl-logo a img{
            width: 100%
        }
        .print-header .print-right{
            float: right;
        }
        .print-header .print-right .pr-qrcode{
            width: 300px;
        }
        .print-header .print-right .pr-qrcode img{
            width: 100%;
        }
        .print-title{
            width: 100%;
            text-align: center;
        }
        .print-title h2{
            text-transform: uppercase;
        }
        .print-profile table{
            margin-bottom: 20px;
        }
        .print-profile table tbody tr td{
            padding: 10px 0
        }
        .print-profile table tbody tr td p{
            margin-bottom: 0;
        }
        .big-text{
            font-size: 24px;
        }
        .print-price table thead th{
            padding: 10px 0
        }
        .print-price table tbody tr td{
            padding: 10px 0
        }
        .print-price table tbody tr:nth-child(odd){
            background: #f2f2f2
        }
        .print-price table tbody tr:nth-child(even){
            background: #fff
        }
        .print-noti{
            margin: 20px 0;
        }