/*product*/
.product-bg{
	background:#fff;
	border:1px solid #eaeaea;
}
.product-title{
	padding:15px 20px;
}
.product-title h1{
	margin:0;
	font-weight:300;
	font-size:20px;
}
.product-sort{
	border-top:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
	background:#f9f9f9;
	padding:15px 20px 10px;
}
.product-sort .ps-row{
	margin-bottom:5px;
}
.product-sort .ps-label{
	display:inline-block;
	vertical-align:top;
	font-weight:700;
	margin:0;
	padding:2px 15px 6px 0;
	font-size:12px;
}
.product-sort .ps-label .fa{
	font-size:14px;
	margin-right:4px;
}
.product-sort .ps-ul{
	display:inline-block;
	vertical-align:top;
}
.product-sort .ps-ul li{
	display:inline-block;
	vertical-align:top;
	padding-right:15px;
	padding-bottom:5px;
}
.product-sort .ps-ul li a{
	font-size:12px;
	color:#494949;
	text-decoration:none;
}
.product-sort .ps-ul li a .fa{
	font-size:14px;
	margin-left:5px;
}
.product-sort .ps-ul li.active a,
.product-sort .ps-ul li:hover a{
	color:#e41c2c;
}
.product-sort .ps-ul .checkbox{
	margin-top:0;
	margin-bottom:0;
}
.product-sort .ps-ul .checkbox label{
	font-size:12px;
	color:#494949;
}
.product-sort .ps-ul .checkbox span{
	color:#ddd;
}
.product-sort .ps-ul li.active .checkbox label,
.product-sort .ps-ul li:hover .checkbox label{
	color:#e41c2c;
}
.product-sort .ps-formproduct ul{
	text-align:right;
	padding:15px 0;
}
.product-sort .ps-formproduct ul li{
	display:inline-block;
	vertical-align:top;
}
.product-sort .ps-formproduct ul li a{
	color:#ccc;
	font-size:18px;
	padding:5px;
}
.product-sort .ps-formproduct ul li.active a,
.product-sort .ps-formproduct ul li:hover a{
	color:#000;
}
/*end product*/
/*product item*/
.product-grid{
	padding:35px 0 0;
	position:relative;
	z-index:2;
}
.product-grid > ul > li{
	float:left;
	width:33.33%;
	padding-bottom:40px;
}
.p-item{
	width:282px;
	margin:0 auto;
	position:relative;
	height:418px;
}
.p-item .p-shadow{
	top:0;
	left:0;
	right:0;
	position:absolute;
	border:1px solid #efefef;
	min-height:418px;
	background:#fff;
}
.p-item .p-thumb{
	width:280px;
	height:280px;
	margin:0 auto;
	position:relative;
	z-index:1;
}
.p-item .p-thumb > a{
	display:block;
	display:table-cell;
	width:280px;
	height:280px;
	text-align:center;
	vertical-align:middle;
}
.p-item .p-thumb img{
	max-width:280px;
	max-height:280px;
}
.p-item .p-content{
	/*padding:0 0 5px;*/
	position: relative;
}
.p-item .p-content .out-of-stock{
	position: absolute;
	text-transform: uppercase;
	font-weight: 700;
	background-color: rgba(236, 0, 12, 0.7);
	color: #FFF;
	border-radius: 4px;
	padding: 4px;
	display: inline-block;
	transform: rotate(30deg);
	top: 30px;
	left: 0;
	right: 0;
	font-size: 10px;
	width: 100px;
	height: 20px;
	margin: 0px auto;
	text-align: center;
	z-index: 9999;
}
.p-item .p-content .disable{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 95px;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 998;

}
.p-item:hover .p-content .out-of-stock{
	top: 37px;
}
.p-item .p-smallthumb{
	padding:10px 0 0 11px;
	display:none;
}
.p-item .p-smallthumb a{
	display:inline-block;
	width:42px;
	height:42px;
	overflow:hidden;
	margin:0 5px 8px 0;
	border:1px solid transparent;
}
.p-item .p-smallthumb img{
	width:100%;
	min-height:40px;
}
.p-item .p-bg{
	margin: 7px 0 0;
	padding-bottom: 5px;
}
.p-item .p-row{
	padding:0 10px;
	margin:0 0 4px;
	font-size:12px;
}
.p-item .pd-different-line{
	border-top: 1px solid #efefef;
	margin: 0 10px;
}
.p-item .pd-different{
	text-align: center;
	font-size:12px;
}
.p-item .pd-different a{
	display: block;
	padding: 10px;
}
.p-item .pd-different a:hover{
	background: #efefef;
	text-decoration: none;
}
.p-item .pd-different a strong{
	color: #000000;
}
.p-item .p-title{
	/*color:#717171;*/
	text-decoration:none;
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.p-item .p-price{
	color:#e41d2c;
}
.p-item .p-price i{
	color: #000000;
}
.p-item .p-price:hover, .p-item .p-price:focus{
	text-decoration: none;
}
.p-item .pd-price-drop{
	position: relative;
}
.p-item .pd-price-drop ul{
	position: absolute;
	z-index: 99;
	top: 20px;
	font-size: 12px;
	width: 70%;
}
.p-item .pd-price-drop ul li{
	border-top: 1px solid #efefef;
}
.p-item .pd-price-drop ul li:first-child{
	border-top: none;
}
.p-item .pd-price-drop ul li a .pd-oldprice{
	color: #ccc;
	text-decoration: line-through;
	margin-left: 10px;
}
.p-item .p-oldprice{
	color:#ccc;
	text-decoration:line-through;
	float:right;
}
.p-item .p-time{
	background:#fff;
	position:absolute;
	/*top:265px;*/
	bottom: 0;
	right:0;
	z-index:2;
	color:#e41c2c;
	font-size:14px;
	padding:5px; 
}
.p-item .p-icon{
	display:inline-block;
	vertical-align:top;
	margin-right:5px;
	color:#b8b8b8;
	max-width:48%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.p-item .p-cdt{
	display:block;
	vertical-align:top;
	margin-right:5px;
	color:#b8b8b8;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.p-item .p-cdt a{
	text-decoration:none;
}
.p-item .p-line{
	height:1px;
	background:#efefef;
	margin:10px 10px 5px;
}
.p-item .p-icon .fa{
	margin-right:2px;
}
.p-item .p-seller{
	float:right;
	max-width:48%;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-decoration:none;
}
.p-item .p-thumb > span:nth-child(3){
	top:5px;
	right:5px;
	z-index:3;
}
.p-item .p-thumb > span:nth-child(4){
	top:50px;
	right:5px;
	z-index:3;
}
.p-item .p-thumb > span:nth-child(5){
	top:95px;
	right:5px;
	z-index:3;
}
.p-item .p-quickview{
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:2;
	background:#fff;
	display:none;
}
.p-item .p-quickview a{
	display:block;
	text-decoration:none;
	color:#333;
	font-size:12px;
	padding:10px;
}
.p-item .p-quickview .fa{
	font-size:14px;
	margin-right:4px;
}
.p-item .btn-buyad{
	bottom:0;
	left:0;
	height:auto;
	position:absolute;
	padding:10px 12px;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
.p-itemvip.p-item .p-shadow{
	border:2px solid #e41c2c;
	top:-1px;
	left:-1px;
	right:-1px;
	min-height:326px;
}
.p-item .p-vipinfo{
	position:absolute;
	top:-17px;
	left:0;
	font-size:10px;
	color:#ccc;
	display:none;
}
.p-itemvip.p-item .p-vipinfo{
	display:block;
}
.p-item .p-vipinfo .fa{
	margin-right:3px;
}
.p-item .p-commit{
	border-top:1px solid #efefef;
	padding:12px 0 5px;
	position:relative;
	z-index:1;
	margin: 0 10px;
	display:none;
}
.p-item .p-commit .pc-icon{
	display:block;
	padding:0 0 0 25px;
	color:#333;
}
.p-item .p-commit .pc-icon i{
	float:left;
	margin:0 0 0 -25px;
}
.product-loading{
	text-align:center;
	padding:0 0 35px;
}
.icon16-payonline{
	background:url(../images/icons/icon16.png) no-repeat 0 -49px;
}
.icon16-payship{
	background:url(../images/icons/icon16.png) no-repeat 0 -64px;
}
.icon16-ship24{
	background:url(../images/icons/icon16.png) no-repeat 0 -80px;
}
.icon16-freetranfers{
	background:url(../images/icons/icon16.png) no-repeat 0 0;
}
.icon16-hover7{
	background:url(../images/icons/icon16.png) no-repeat 0 -32px;
}
.icon16-gift{
	background:url(../images/icons/icon16.png) no-repeat 0 -16px;
}
.p-search-item{
	width: auto;
}
.p-search{
	width: auto !important;
	height: auto !important;
}
@media (min-width: 992px){
	.p-item .p-title:hover{
		color:#000;
	}
	.p-item:hover .p-quickview{
		display:block;
	}
	.p-item:hover .p-shadow{
		border:1px solid #000;
	}
	.p-item .p-icon:hover{
		color:#333;
	}
	.product-hover .p-item:hover{
		z-index:10;
	}
	.product-hover .p-item:hover .p-shadow{
		-moz-box-shadow:3px 3px 5px rgba(0,0,0,0.2);
		-webkit-box-shadow:3px 3px 5px rgba(0,0,0,0.2);
		box-shadow:3px 3px 5px rgba(0,0,0,0.2);
	}
	.product-hover .p-itemvip.p-item:hover .p-shadow{
		border:2px solid #000;
	}
	.product-hover .p-item:hover .p-title{
		/*white-space:normal;*/
	}
	.product-hover .p-item:hover .p-bg{
		padding:7px 0 0;
		margin:0 0 5px;
		background:#efefef;
	}
	.product-hover .p-item:hover .p-line{
		display:none;
	}
	.product-hover .p-item:hover .p-smallthumb{
		/*display:block;*/
	}
	.product-hover .p-item .p-smallthumb a:hover{
		border-color:#000;
	}
	.product-hover .p-item:hover .p-commit{
		display:block;
	}
}
/*end product item*/
/*product brand*/
.product-brand{
	margin:0 20px 20px;
}
.product-brand .pb-title{
	border-top:1px solid #404040;
	color:#404040;
	margin:0 0 20px;
	padding:3px 0 0;
}
.product-brand ul li{
	float:left;
	width:20%;
	padding-bottom:15px;
}
.pb-item{
	margin:0 auto;
	width:130px;
	height:68px;
}
.pb-item a{
	display:block;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	width:130px;
	height:68px;
}
.pb-item img{
	max-width:130px;
	max-height:68px;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.product-brand .pb-more{
	text-align:right;
	font-size:12px;
	padding:10px 0;
}
.product-brand .pb-more .fa{
	font-size:14px;
	margin-right:4px;
}
@media (min-width: 992px){
	.pb-item img:hover{
		margin-left:-7px;
	}
}
/*end product brand*/
/*product internal*/
.product-internal{
	font-size:12px;
	line-height:18px;
	margin:0 20px 20px;
}
.product-internal h1,
.product-internal h2,
.product-internal h3,
.product-internal h4,
.product-internal h5,
.product-internal h6{
	font-size:20px;
	margin:0;
	display:block;
	font-weight:300;
	padding:0 0 15px;
}
.product-internal p{
	font-size:12px;
	line-height:18px;
}
.product-related{
	margin:0 20px 20px;
	font-size:12px;
}
.product-related a{
	margin-right:4px;
}
/*end product internal*/
/*sidebar*/
.sidebox-click{
	cursor:pointer;
}
.sidebox-properties a{
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
	font-weight:700;
}
.sidebox-properties a .fa{
	float:right;
	border:2px solid #3a5898;
	width:23px;
	height:23px;
	text-align:center;
	font-size:14px;
	padding:3px 0 0;
	margin-right:-3px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.sidebox-properties a:hover{
	color:#e41d2c;
}
.sidebox-properties a:hover .fa{
	border-color:#e41d2c;
}
.filter-ul > ul > li{
	padding:1px;
}
.filter-ul .checkbox,
.filter-ul .radio{
	margin-top:0;
	margin-bottom:0;
}
.filter-ul .checkbox label,
.filter-ul .radio label{
	font-size:12px;
}
.filter-ul .checkbox input[type="checkbox"],
.filter-ul .radio input[type="radio"]{
	margin-top:2px;
}
.filter-ul .fu-name{
	color:#3c3c3c;
}
.filter-ul .fu-number{
	color:#dcdcdc;
}
.filter-more{
	padding:3px 0 0;
}
.filter-more a{
	font-size:11px;
}
.filter-more a .fa{
	font-size:14px;
	margin:4px 10px 0 2px;
	vertical-align:top;
}
.filter-search{
	margin:0 0 15px;
}
.filter-search .fs-inner{
	position:relative;
	z-index:1;
}
.filter-search .btn-fs-search{
	position:absolute;
	top:0;
	right:0;
	border:none;
	text-align:center;
	width:30px;
	height:30px;
	background-color:transparent;
	line-height:0;
}
.filter-search .form-control{
	padding:4px 30px 4px 15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}
.menu-left > ul > li{
	border-bottom:1px solid #eaeaea;
	position:relative;
}
.menu-left > ul > li:before{
	content:"";
	position:absolute;
	top:17px;
	left:2px;
	width:4px;
	height:4px;
	background:#ccc;
}
.menu-left > ul > li > a{
	color:#494949;
	text-decoration:none;
	font-size:12px;
	padding:10px 0 10px 15px;
	display:block;
}
.menu-left > ul > li > a > .ml-number{
	color:#dedede;
}
.menu-left > ul > li:hover > a,
.menu-left > ul > li.parent > a,
.menu-left > ul > li.active > a{
	color:#e41c2c;
}
.filter-button{
	overflow:hidden;
}
.filter-button .fb-item{
	float:left;
	border:1px solid #d9d9d9;
	background:#fff;
	padding:6px 7px;
	margin:0 9px 9px 0;
	text-decoration:none;
	color:#484848;
	font-size:12px;
	text-align:center;
	min-width:30px;
}
.filter-button .fb-item.active,
.filter-button .fb-item:hover{
	color:#fff;
	background:#ff0000;
	border-color:#fff;
}
.filter-color{
	overflow:hidden;
}
.filter-color .fc-item{
	float:left;
	border:1px solid #d9d9d9;
	background:#fff;
	margin:0 9px 9px 0;
	text-decoration:none;
	color:#fff;
	font-size:16px;
	width:30px;
	height:30px;
	text-align:center;
	border:1px solid #fff;
	padding:5px 0 0;
}
.filter-color .fc-item:after{
	content:"";
	font-family:FontAwesome;
	line-height:1;
	display:none;
	text-shadow:0 0 1px rgba(0, 0, 0, 0.2);
}
.filter-color .fc-item.active,
.filter-color .fc-item:hover{
	color:#fff;
	background:#ff0000;
	border-color:#000;
}
.filter-color .fc-item.active:after,
.filter-color .fc-item:hover:after{
	display:block;
}
/*end sidebar*/
/*fillter choose*/
.fillter-choose{
	padding:20px 0 0;
	margin-bottom:-10px;
}
.fillter-choose .fc-label{
	display:inline-block;
	vertical-align:top;
	padding:4px 0;
	margin:0 8px 8px 0;
	font-size:12px;
	color:#515151;
}
.fillter-choose .fc-tag{
	display:inline-block;
	vertical-align:top;
	padding:4px 10px;
	background:#efefef;
	margin:0 8px 8px 0;
	font-size:12px;
	color:#707070;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:12px;
}
.fillter-choose .fc-tag .fa{
	margin-left:5px;
	cursor:pointer;
	color:#000;
}
.fillter-choose .fc-remove{
	display:inline-block;
	vertical-align:top;
	padding:4px 0;
	margin:0 8px 8px 0;
	font-size:12px;
	color:#e41d2c;
	cursor:pointer;
}
.fillter-choose .fc-remove .fa{
	font-size:15px;
	margin-left:5px;
}
/*end fillter choose*/
/*sugget keyword*/
.sugget-keyword{
	padding:12px 0;
	border-top:1px solid #ece9e6;
	line-height:20px;
	font-size:12px;
	font-weight:700;
}
.sugget-keyword a{
	text-decoration:none;
	margin-right:10px;
}
/*end sugget keyword*/
/*search noresult*/
.search-noresult{
	padding:20px 0 20px 20px;
}
.search-noresult .row .col-md-6:nth-child(2){
	border-left:1px solid #d9d9d9;
}
.search-noresult .sn-image{
	margin-bottom:-20px;
	text-align:center;
}
.search-noresult .sn-image img{
	max-width:100%;
}
.search-noresult .breadcrumb-search{
	width:100%;
	margin-right:0;
	margin-bottom:10px;
}
.search-noresult p{
	font-size:12px;
}
.search-noresult .sn-title{
	font-size:32px;
	font-weight:700;
}
.history-viewold .grid{
	min-height:60px;
	margin:0 0 10px;
}
.history-viewold .grid .img{
	width:60px;
	height:60px;
}
.history-viewold .grid .img img{
	min-height:60px;
}
.history-viewold .grid .g-content{
	margin-left:70px;
	padding:3px 0 0;
}
.history-viewold .grid .g-row{
	font-size:12px;
	margin-bottom:0;
}
.history-viewold .grid .g-title{
	color:#000;
	text-decoration:none;
	font-weight:400;
}
.history-viewold .grid .g-price{
	color:#ff0000;
}
.history-viewold .grid .g-oldprice{
	text-decoration:line-through;
}
.pd-tabs.search-likeproduct{
	margin:20px 0 35px;
}
/*end search noresult*/
/*responsive*/
@media (min-width: 1200px){
}
@media (max-width: 1199px){
	.p-item{
		width:222px;
		height:332px;
	}
	.p-item .p-shadow{
		min-height:331px;
	}
	.p-item .p-thumb{
		width:220px;
		height:220px;
	}
	.p-item .p-thumb > a{
		width:220px;
		height:220px;
	}
	.p-item .p-thumb img{
		max-width:220px;
		max-height:220px;
	}
	.p-item .p-time{
		top:205px;
	}
}
@media (min-width: 992px){
}
@media (max-width: 991px){
	.product-sort .ps-formproduct ul{
		padding:0;
		text-align:center;
	}
	.product-title h1{
		font-size:18px;
	}
	.search-noresult{
		padding:15px;
	}
	.search-noresult .row .col-md-6:nth-child(2){
		border-left:none;
	}
	.search-noresult .sn-image{
		margin-bottom:0;
	}
	.p-item:hover .p-content .out-of-stock{
		top: 30px;
	}
}
@media (min-width: 768px){
}
@media (max-width: 767px){
	.product-loading{
		padding:0 0 20px;
	}
	.product-brand{
		margin:0 15px 15px;
	}
	.product-title{
		padding:15px;
	}
	.product-sort{
		padding:15px 15px 10px;
	}
	.product-internal{
		margin:0 15px 15px;
	}
	.product-internal h1,
	.product-internal h2,
	.product-internal h3,
	.product-internal h4,
	.product-internal h5,
	.product-internal h6{
		font-size:18px;
	}
	.product-related{
		margin:0 15px 15px;
	}
	.search-noresult .sn-title{
		font-size:26px;
	}
	.pd-tabs.search-likeproduct{
		margin:15px 0;
	}
}
@media (max-width: 736px){
}
@media (max-width: 667px){
	.product-grid > ul > li{
		width:50%;
		padding-bottom:30px;
	}
	.product-brand .pb-title{
		margin:0 0 15px;
	}
	.product-brand ul li{
		width:25%;
	}
}
@media (max-width: 640px){
}
@media (max-width: 533px){
	.product-brand ul li{
		width:33.33%;
	}
}
@media (max-width: 480px){
	.product-grid > ul > li{
		padding-bottom:15px;
	}
	.pb-item{
		width:120px;
		height:60px;
	}
	.pb-item a{
		width:120px;
		height:60px;
	}
	.pb-item img{
		max-width:120px;
		max-height:60px;
	}
}
@media (max-width: 414px){
	.p-item{
		width:170px;
		height:283px;
	}
	.p-item .p-shadow{
		min-height:282px;
	}
	.p-item .p-thumb{
		width:168px;
		height:168px;
	}
	.p-item .p-thumb > a{
		width:168px;
		height:168px;
	}
	.p-item .p-thumb img{
		max-width:168px;
		max-height:168px;
	}
	.p-itemvip.p-item .p-shadow{
		min-height:284px;
	}
	.p-item .p-row{
		font-size:11px;
		padding:0 5px;
	}
	.p-item .p-line{
		margin:5px;
	}
	.p-item .p-title{
		font-size:11px;
		line-height:14px;
		max-height:28px;
		white-space:normal;
	}
	.p-item .p-icon{
		font-size:11px;
	}
	.p-item .p-seller{
		font-size:11px;
	}
	.p-item .p-price{
		font-size:11px;
	}
	.p-item .p-oldprice{
		font-size:11px;
	}
	.product-brand{
		margin:0 10px 15px;
	}
	.product-brand ul li{
		width:50%;
		padding-bottom:10px;
	}
	.product-title{
		padding:15px 10px;
	}
	.product-sort{
		padding:15px 10px 10px;
	}
	.product-internal{
		margin:0 10px 15px;
	}
	.product-internal h1,
	.product-internal h2,
	.product-internal h3,
	.product-internal h4,
	.product-internal h5,
	.product-internal h6{
		font-size:16px;
	}
	.product-related{
		margin:0 10px 15px;
	}
	.search-noresult{
		padding:15px 10px;
	}
	.search-noresult .sn-title{
		font-size:22px;
	}
}
@media (max-width: 375px){
}
@media (max-width: 360px){
	.p-item{
		width:158px;
		height:285px;
	}
	.p-item .p-shadow{
		min-height:284px;
	}
	.p-item .p-thumb{
		width:156px;
		height:156px;
	}
	.p-item .p-thumb > a{
		width:156px;
		height:156px;
	}
	.p-item .p-thumb img{
		max-width:156px;
		max-height:156px;
	}
	.p-itemvip.p-item .p-shadow{
		min-height:286px;
	}
	.p-item .p-price{
		display:block;
	}
	.p-item .p-oldprice{
		display:block;
		float:none;
	}
}
@media (max-width: 320px){
	.p-item{
		width:140px;
		height:267px;
	}
	.p-item .p-shadow{
		min-height:266px;
	}
	.p-item .p-thumb{
		width:138px;
		height:138px;
	}
	.p-item .p-thumb > a{
		width:138px;
		height:138px;
	}
	.p-item .p-thumb img{
		max-width:138px;
		max-height:138px;
	}
	.p-itemvip.p-item .p-shadow{
		min-height:268px;
	}
}
/*end responsive*/