/*---------- home-mainbanner css ----------*/
.l-banner{
	margin: 20px 0;
}
.l-banner-box{
	&__center{
		padding: 5px 0;
		.col-sm-12{
			padding: 5px 15px;
			img{
				width: 100%;
			}
		}
		.col-sm-6{
			padding: 10px 15px;
		}
		img{
			width: 100%;
		}
	}
	&__left{
		padding: 5px 15px;
		img{
			width: 100%;
		}
	}
	&__right{
		padding: 5px 15px;
		img{
			width: 100%;
		}
	}
}
//home-mainbanner responsive css
@media (min-width: $screen-xs-small-min){// mobile lanscape

}
@media (min-width: $screen-sm-min){// ipad 768px
	.l-banner-box{
		.row{
			margin-left: -5px;
			margin-right: -5px;
		}
		&__center{
			width: 52%;
			padding: 0;
			.col-sm-12{
				padding: 0 5px;
				padding-bottom: 3px;
				img{
					width: 100%;
				}
			}
			img{
				width: 100%;
			}
			.col-sm-6{
				padding: 3px 5px;
			}
		}
		&__left{
			width: 24%;
			padding: 0 5px;
			img{
				width: 100%;
			}
		}
		&__right{
			width: 24%;
			padding: 0 5px;
			img{
				width: 100%;
			}
		}
	}
}
@media (min-width: $screen-md-min){//pc 1024px up

}
@media (min-width: $screen-lg-min){//pc 1200px up
	.l-banner-box{
		&__center{
			.col-sm-12{
				padding: 0 5px;
				padding-bottom: 8px;
			}
		}
	}
}
@media (min-width: $screen-xl-min){//pc 1440px up

}
//end home-mainbanner responsive css
/*---------- end home-mainbanner css ----------*/