/*---------- home cat css ----------*/
.c-cat-slider{
  padding-bottom: 10px;
  position: relative;
  z-index: 1;
  &:after{
    content: "";
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: $color-white;
  }
}
.c-cat-item{
  border-right: 1px solid $color-border2;
  &__thumb{
    padding-top: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 5px;
    a{
      display: block;
      display: flex;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      align-items: center;
      justify-content: center;
      padding: 15px;
    }
    img{
      width: auto !important;
      display: inline !important;
      max-width: 80px;
      max-height: 80px;
    }
  }
  &__content{
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    a{
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      height: 32px; /* Fallback for non-webkit */
      line-height: 16px;
      text-align: center;
      color: $color-text;
      text-decoration: none;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

    }
  }
}
.slide-page{
  .c-cat-item{
    &:first-child{
      border-bottom: 1px solid $color-border2;
    }
  }
}
//home cat responsive css
@media (min-width: $screen-xs-small-min){// mobile lanscape

}
@media (min-width: $screen-sm-min){// ipad 768px

}
@media (min-width: $screen-md-min){//pc 1024px up
  .c-cat-item{
    &__content{
      a{
        @include transition-all(0.2s);
        &:hover{
          color: $color-primary;
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min){//pc 1200px up

}
@media (min-width: $screen-xl-min){//pc 1440px up

}
//end home cat responsive css
/*---------- end home cat css ----------*/