/*---------- home-commit css ----------*/
.c-commit-block{
	margin: 15px 0;
}
.c-commit-box{
	margin: 0 -10px;
	&__item{
		padding: 0 10px;
		margin: 0 0 10px;
		&__inner{
			//border: 1px solid $color-border;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 20px;
      background: $color-white;
      @include border-radius(4px);
			&__img{
				float: left;
				margin-right: 15px;
			}
			&__content{
				display: flex;
				flex-direction: column;
				h2{
					font-size: 16px;
					text-transform: uppercase;
					font-weight: 700;
					color: $color-primary;
				}
				p{
					font-size: 14px;
				}
			}
		}
	}
}
//home-commit responsive css
@media (min-width: $screen-xs-small-min){// mobile lanscape

}
@media (min-width: $screen-sm-min){// ipad 768px
	.c-commit-box{
		&__item{
			width: percentage(1/3);
			float: left;
			&__inner{
				&__img{
					max-width: 40px;
				}
				&__content{
					h2{
						font-size: 14px;
					}
					p{
						font-size: 10px;
					}
				}
			}
		}
		&.is-2-col{
      .c-commit-box__item{
        width: percentage(1/2);
      }
		}
	}
}
@media (min-width: $screen-md-min){//pc 1024px up
	.c-commit-block{
		margin: 20px 0;
	}
	.c-commit-box{
		&__item{
			&__inner{
				&__img{
					max-width: 50px;
				}
				&__content{
					h2{
						font-size: 20px;
					}
					p{
						font-size: 14px;
					}
				}
			}
		}
	}
}
@media (min-width: $screen-lg-min){//pc 1200px up

}
@media (min-width: $screen-xl-min){//pc 1440px up

}
//end home-commit responsive css
/*---------- end home-commit css ----------*/