/*---------- home-content css ----------*/
.c-home-product{
  ul{
    list-style: none;
    margin: 0 -3px;
    padding: 0;
    li{
      float: left;
      width: percentage(1/2);
      margin-bottom: 6px;
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}
.c-home-banner{
  margin-bottom: 10px;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      margin-bottom: 1px;
      border: 1px solid $color-border2;
      a{
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.c-home-box{
  &.is-big{
    .c-home-product{
      ul{
        li{
          &:first-child{
            width: 100%;
            .c-product-square{
              .c-product-square__title{
                font-weight: 700;
                font-size: 15px;
              }
            }
          }
          &:nth-child(10),&:nth-child(11),&:nth-child(12){
            display: none;
          }
        }
      }
    }
  }
  &.is-bannerfull{
    .c-home-banner{
      ul{
        li{
          border: none;
          &:nth-child(2),&:nth-child(3){
            display: none;
          }
        }
      }
    }
    .c-home-product{
      ul{
        li{
          &:nth-child(7),&:nth-child(8),&:nth-child(9),&:nth-child(10),&:nth-child(11),&:nth-child(12){
            display: none;
          }
        }
      }
    }
    .c-home-productother{
      display: none;
    }
  }
  &.is-bannerleft{
    ul{
      li{
        &:nth-child(9),&:nth-child(10),&:nth-child(11),&:nth-child(12){
          display: none;
        }
      }
    }
  }
}
//home-content responsive css
@media (min-width: $screen-xs-small-min){// mobile lanscape

}
@media (min-width: $screen-sm-min){// ipad 768px
  .c-home-product{
    ul{
      margin: 0 -5px;
      li{
        margin-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  .c-home-box{
    &.is-full{
      .c-home-product{
        ul{
          li{
            width: percentage(1/3);
            //&:nth-child(12){
            //  display: none;
            //}
          }
        }
      }
    }
    &.is-big{
      .c-home-product{
        ul{
          li{
            width: percentage(1/3);
            &:first-child{
              width: percentage(1/3);
              .c-product-square{
                .c-product-square__title{
                  font-weight: 400;
                  font-size: 13px;
                }
              }
            }
            //&:nth-child(9){
            //  display: none;
            //}
          }
        }
      }
    }
    &.is-bannerfull{
      .c-home-product{
        ul{
          li{
            width: percentage(1/3);
            //&:nth-child(6){
            //  display: none;
            //}
          }
        }
      }
    }
    &.is-bannerleft{
      .c-home-banner{
        overflow: hidden;
        ul{
          li{
            width: percentage(1/2);
            float: left;
            &:nth-child(3){
              display: none;
            }
          }
        }
      }
      .c-home-product{
        ul{
          li{
            width: percentage(1/3);
            &:nth-child(9){
              display: block;
            }
          }
        }
      }
    }
  }
}
@media (min-width: $screen-md-min){//pc 1024px up
  .c-home-banner{
    margin-bottom: 15px;
  }
  .c-home-product{
    ul{
      li{
        //margin-bottom: 15px;
      }
    }
  }
  .c-home-box{
    &.is-full{
      .c-home-product{
        ul{
          li{
            width: percentage(1/4);
            //&:nth-child(11){
            //  display: none;
            //}
          }
        }
      }
    }
    &.is-big{
      .c-home-product{
        ul{
          li{
            width: percentage(1/4);
            &:first-child{
              width: percentage(1/4);
            }
            &:nth-child(9){
              display: none;
            }
          }
        }
      }
    }
    &.is-bannerfull{
      .c-home-product{
        ul{
          li{
            width: percentage(1/4);
            &:nth-child(6),&:nth-child(7),&:nth-child(8){
              display: block;
            }
          }
        }
      }
      .c-home-productother{
        display: none;
      }
    }
    &.is-bannerleft{
      .c-home-product{
        ul{
          li{
            width: percentage(1/4);
            &:nth-child(9){
              display: none;
            }
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min){//pc 1200px up
  .c-home-product{
    ul{
      //margin: 0 -10px;
      li{
        //padding-left: 10px;
        //padding-right: 10px;
        //margin-bottom: 20px;
      }
    }
  }
  .c-home-box{
    &.is-full{
      .c-home-product{
        ul{
          li{
            width: percentage(1/6);
            &:nth-child(11), &:nth-child(12){
              display: block;
            }
          }
        }
      }
    }
    &.is-big{
      .c-home-product{
        ul{
          li{
            width: percentage(1/6);
            &:first-child{
              width: percentage(2/6);
              .c-product-square{
                padding-top: calc(123% + 108px);
                &__thumb{
                  padding-top: 123%;
                }
                .c-product-square__title{
                  font-weight: 700;
                  font-size: 20px;
                }
                .c-product-square__price{
                  font-size: 18px;
                }
              }
            }
            &:nth-child(9){
              display: block;
            ;
            }
            &:nth-child(10){
              display: none;
            }
          }
        }
      }
    }
    &.is-bannerfull{
     //padding-right: 230px;
      position: relative;
      z-index: 1;
      min-height: 560px;
      .c-home-product{
        ul{
          li{
            width: percentage(1/6);
            &:nth-child(9),&:nth-child(10),&:nth-child(11),&:nth-child(12){
              display: block;
            }
          }
        }
      }
      .c-home-productother{
        //display: block;
        border: 1px solid $color-border2;
        padding: 15px 25px 0;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        width: 210px;
        .c-box__title{
          margin-bottom: 15px;
        }
        .c-box__title__name{
          font-size: 14px;
        }
        ul{
          li{
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }
    &.is-bannerleft{
      .c-home-banner{
        float: left;
        width: percentage(1/3);
        padding-right: 10px;
        ul{
          li{
            width: auto;
            float: none;
            &:nth-child(3){
              display: block;
            }
          }
        }
      }
      .c-home-product{
        float: right;
        width: percentage(2/3);
        padding-left: 10px;
      }
    }
  }
}
@media (min-width: $screen-xl-min){//pc 1440px up
  .c-home-box{
    &.is-bannerleft{
      .c-home-banner{
        //width: 450px;
      }
      .c-home-product{
        //width: 690px;
      }
    }
    &.is-big{
      .c-home-product{
        ul{
          li{
            &:first-child{
              .c-product-square{
                padding-top: calc(119% + 108px);
                &__thumb{
                  padding-top: 119%;
                }
              }
            }
          }
        }
      }
    }
  }
}
//end home-content responsive css
/*---------- end home-content css ----------*/