/*---------- home-bodybanner css ----------*/
.c-body-banner{
	ul{
		li{
			margin-bottom: 15px;
			a{
				border: 1px solid $color-border;
				position: relative;
				z-index: 1;
				display: block;
				padding-top: percentage(190/450);
				img{
					position: absolute;
					z-index: 2;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
//home-bodybanner responsive css
@media (min-width: $screen-xs-small-min){// mobile lanscape

}
@media (min-width: $screen-sm-min){// ipad 768px
	.c-body-banner{
		ul{
			margin: 0 -5px;
			li{
				padding: 0 5px;
				margin-bottom: 0;
				width: percentage(1/3);
				float: left;
			}
		}
	}
}
@media (min-width: $screen-md-min){//pc 1024px up

}
@media (min-width: $screen-lg-min){//pc 1200px up
	.c-body-banner{
		ul{
			margin: 0 -10px;
			li{
				padding: 0 10px;
			}
		}
	}
}
@media (min-width: $screen-xl-min){//pc 1440px up

}
//end home-bodybanner responsive css
/*---------- end home-bodybanner css ----------*/