/*---------- account css ----------*/
.c-account-user{
  &__title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
  }
  .b-form{
    .radio-inline, .checkbox-inline{
      font-size: 14px;
    }
    .form-control{
      font-size: 14px;
      height: 38px;
    }
    hr{
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}
.c-login-other{
  label{
    margin: 0 0 10px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    color: $color-time;
    display: block;
  }
  ul{
    list-style: none;
    margin: 0 -5px;
    padding: 0;
    li{
      float: left;
      width: percentage(1/2);
      padding-left: 5px;
      padding-right: 5px;
      a{
        display: block;
        text-decoration: none;
        font-size: 13px;
        color: $color-white;
        text-align: center;
        line-height: 44px;
        @include border-radius(4px);
        span{
          display: none;
        }
        .fa{
          font-size: 16px;
        }
      }
    }
  }
}
//account responsive css
@media (min-width: $screen-xs-small-min){// mobile lanscape

}
@media (min-width: $screen-sm-min){// ipad 768px

}
@media (min-width: $screen-md-min){//pc 1024px up

}
@media (min-width: $screen-lg-min){//pc 1200px up

}
@media (min-width: $screen-xl-min){//pc 1440px up

}
//end account responsive css
/*---------- end account css ----------*/