/*---------- cart css ----------*/
.c-checkout{
  .c-checkout__row{
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
      p{
        margin-bottom: 0;
      }
    }
    &:first-child{
      p{
        margin-bottom: 10px;
      }
    }
    .c-checkout-right__number{
      float: right;
    }
    .c-checkout-right__total{
      float: right;
      font-size: 16px;
      color: $color-danger;
    }
  }
}
.c-checkout-left{
  .b-form{
    padding: 5px 0 0;
    margin: 0 auto;
    max-width: 585px;
    label{
      display: block;
      .fa{
        margin-right: 5px;
      }
    }
    h4{
      margin: 0;
    }
    textarea{
      min-height: 65px;
    }
    .btn{
      min-width: 120px;
    }
    .input-group{
      .btn{
        min-width: 0;
      }
    }
    &.c-form-vat{
      display: none;
    }
  }
}
.c-radio{
  .c-radio-item{
    margin-bottom: 10px;
    cursor: pointer;
    .c-radio-item__icon{
      float: left;
      color: $color-text;
      margin-top: 3px;
    }
    .c-radio-item__content{
      margin-left: 20px;
      color: $color-text;
    }
    .fa-question-circle{
      margin-left: 3px;
    }
  }
}
.c-checkout-right{
  .c-checkout-right__price{
    display: block;
  }
  .c-checkout-right__phone{
    text-align: right;
    display: block;
    .fa{
      margin-right: 4px;
    }
  }
  .c-checkout-bill{
    display: none;
  }
}
.c-checkout-product{
  .b-grid{
    overflow: hidden;
    min-height: 0;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    &:last-child{
      margin-bottom: 0;
    }
    .b-grid__img{
      width: 30px;
      height: 30px;
      a{
        display: block;
        display: table-cell;
        width: 30px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
      }
      img{
        min-height: 0;
        max-width: 30px;
        max-height: 30px;
        width: auto;
      }
    }
    .b-grid__content{
      margin-right: 100px;
      margin-left: 42px;
      &.g-info{
        margin-left: 0;
      }
    }
    .b-grid__row{
      margin-bottom: 7px;
      line-height: 18px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .b-grid__title{
      color: $color-text;
      font-weight: 400;
      text-decoration: none;
      display: block;
      overflow: hidden;
      max-height: 18px * 3;
      text-overflow: ellipsis;
      &:hover{
        color: $color-primary;
      }
    }
    .b-grid__price{
      float: right;
      width: 100px;
      text-align: right;
    }
    .b-grid__number{
      display: inline-block;
      vertical-align: middle;
      width: 60px;
      margin-right: 5px;
    }
    .b-grid__smallprice{
      font-size: 13px;
      display: block;
      padding-top: 5px;
    }
    .b-grid__remove{
      position: absolute;
      z-index: 2;
      bottom: 7px;
      right: 0;
      text-decoration: none;
      color: $color-danger;
      font-size: 13px;
      &:hover{
        color: $color-primary;
      }
    }
  }
}
.c-checkout-next{
  text-align: center;
  padding-bottom: 20px;
  .btn{
    width: 100%;
    display: block;
    margin: 0 0 10px;
  }
}
.c-checkout-empty{
  text-align: center;
  padding: 20px 0 30px;
  .fa-shopping-cart{
    width: 64px;
    height:64px;
    text-align: center;
    line-height: 64px;
    font-size: 32px;
    color: $color-white;
    background: $color-border;
    @include border-radius(100%);
    margin-bottom: 15px;
  }
  &__title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  p{
    margin-bottom: 30px;
  }
}
.c-checkout-bill{
  padding: 15px 10px;
  margin-bottom: 15px;
  background: $color-border;
  &__row{
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
    &.is-big{
      label{
        font-weight: 700;
      }
      .c-checkout-bill__total{
        font-size: 18px;
        color: $color-danger;
      }
    }
  }
  label{
    margin: 0;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    max-width: 55%;
  }
  &__total{
    float: right;
    width: 120px;
    text-align: right;
  }
}
.c-address{
  &__title{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  &__table{
    .radio{
      margin-top: 0;
      margin-bottom: 0;
    }
    td{
      min-width: 70px;
    }
  }
  .b-form{
    .btn{
      min-width: 90px;
    }
  }
}
.c-address-remove{
  border: none;
  background: transparent;
  font-size: 16px;
  &:focus{
    outline: none;
  }
}
.c-checkout-steps{
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
  &:before{
    content: "";
    background: $color-border;
    height: 1px;
    position: absolute;
    z-index: 2;
    top: 44px;
    left: 0;
    right: 0;
  }
}
.c-step-item{
  float: left;
  width: 33.33%;
  height: 115px;
  position: relative;
  z-index: 2;
  text-align: center;
  display: none;
  &:before{
    content: "";
    background: $color-primary;
    height: 1px;
    position: absolute;
    z-index: 2;
    top: 44px;
    left: 0;
    right: 50%;
    display: none;
  }
  &:after{
    content: "";
    background: $color-primary;
    height: 1px;
    position: absolute;
    z-index: 3;
    top: 44px;
    left: 50%;
    right: 0;
    display: none;
  }
  &__number{
    font-size: 16px;
    color: $color-text;
    font-weight: 700;
    width: 160px;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    margin-left: -80px;
  }
  &__name{
    color: $color-text;
    opacity: 0.5;
    width: 160px;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 70px;
    left: 50%;
    margin-left: -80px;
  }
  &__check{
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: $color-border;
    @include border-radius(100%);
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 28px;
    margin-left: -16px;
    .fa{
      font-size: 16px;
      color: $color-time;
    }
  }

  &.active{
    display: block;
    width: 100%;
    &:before{
      display: block;
    }
    .c-step-item__check{
      background: $color-primary;
      .fa{
        color: #fff;
      }
    }
    .c-step-item__name{
      opacity: 1;
    }
  }
  &.pre-active{
    &:before, &:after{
      display: block;
    }
    .c-step-item__check{
      background: $color-primary;
      .fa{
        color: #fff;
      }
    }
    .c-step-item__name{
      opacity: 1;
    }
  }
}
.c-payments-item{
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
  background: $color-bg2;
  border: 1px solid $color-bg2;
  @include border-radius(4px);
  .c-payments-item__title{
    cursor: pointer;
    .b-grid{
      padding: 20px 10px;
      min-height: 100px;
      .b-grid__img{
        width: 60px;
        position: relative;
        z-index: 1;
        float: none;
        margin: 0 auto 10px;
        &:after{
          content: "";
          position: absolute;
          z-index: 2;
          top: 0;
          right: 0;
          bottom: 0;
          width: 1px;
          @include linear-gradient2(top, transparent, $color-border, transparent);
          display: none;
        }
        img{
          width: auto;
          min-height: 0;
        }
      }
      .b-grid__content{
        margin-left: 0;
      }
    }
  }
  .c-payments-item__content{
    display: none;
    margin-left: 10px;
    label{
      font-weight: 400;
      margin: 0 0 15px;
    }
    .radio, .checkbox{
      label{
        margin: 0;
      }
    }
  }
  .c-payments-item__padding{
    padding: 0 10px 15px 0;
    .p-check{
      padding-left: 22px;
      display: block;
      .fa{
        color: #39b54a;
        float: left;
        margin: 3px 0 0 -20px;
        font-size: 14px;
      }
    }
  }
  .c-payments-item__list{
    max-height: 355px;
    overflow: auto;
  }
  .c-payments-item__button{
    margin: 0 10px 0 0;
    padding: 15px 0 20px;
    border-top: 1px solid $color-border;
    .btn{
      font-size: 13px;
      padding-left: 8px;
      padding-right: 8px;
      width: 100%;
      display: block;
      margin-bottom: 5px;
    }
  }
  .c-payments-item__select{
    margin-bottom: 10px;
    width: 270px;
  }
  &.is-first{
    .c-payments-item__content{
      display: block;
    }
  }
  &.active, &.is-active{
    background: $color-white;
    border-color: $color-border;
  }
}
.ul-bank{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    border: 1px solid $color-border;
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 82px;
    position: relative;
    z-index: 1;
    margin: 0 5px 7px 0;
    overflow: hidden;
    @include border-radius(4px);
    cursor: pointer;
    img{
      width: 100%;
      min-height: 38px;
    }
    &:hover, &.active, &.checked{
      border-color: $color-danger;
    }
    &.active, &.checked{
      position: relative;
      z-index: 1;
      &:before{
        content: "\f00c";
        font-family: FontAwesome;
        color: $color-danger;
        font-size: 16px;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 3px;
      }
    }
  }
}
//cart responsive css
@media (min-width: $screen-xs-small-min){// mobile lanscape

}
@media (min-width: $screen-sm-min){// ipad 768px
  .c-checkout-next{
    text-align: center;
    padding-bottom: 20px;
    .btn{
      width: auto;
      display: inline-block;
      margin: 0 10px 10px;
      min-width: 185px;
    }
  }
  .c-checkout-bill{
    padding: 20px 15px;
    label{
      margin: 0;
      padding-top: 2px;
    }
    &__total{
      float: right;
    }
  }
  .c-step-item{
    display: block;
    &:first-child{
      &:before{
        right: 80px;
      }
      &:after{
        width: 80px;
        left: auto;
      }
      .c-step-item__number{
        margin-left: 0;
        right: 0;
        left: auto;
      }
      .c-step-item__name{
        margin-left: 0;
        right: 0;
        left: auto;
      }
      .c-step-item__check{
        margin-left: 0;
        right: 80px - 16px;
        left: auto;
      }
    }
    &:last-child{
      &:before{
        width: 80px;
        right: auto;
      }
      &:after{
        left: 80px;
      }
      .c-step-item__number{
        margin-left: 0;
        left: 0;
      }
      .c-step-item__name{
        margin-left: 0;
        left: 0;
      }
      .c-step-item__check{
        margin-left: 0;
        left: 80px - 16px;
      }
    }
    &.active{
      width: percentage(1/3);
    }
  }
  .c-payments-item{
    margin-bottom: 25px;
    .c-payments-item__title{
      .b-grid{
        .b-grid__img{
          float: left;
          margin: 0;
          &:after{
            display: block;
          }
        }
        .b-grid__content{
          margin-left: 73px;
        }
      }
    }
    .c-payments-item__content{
      margin-left: 84px;
    }
    .c-payments-item__padding{
      padding: 0 15px 15px 0;
    }
    .c-payments-item__button{
      margin: 0 15px 0 0;
      .btn{
        margin-right: 10px;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 0;
        width: auto;
        display: inline-block;
      }
    }
  }
  .ul-bank{
    li{
      width: 94px;
      height: 44px;
      img{
        min-height: 42px;
      }
    }
  }
}
@media (min-width: $screen-md-min){//pc 1024px up
  .c-checkout-right{
    width: 300px;
    float: right;
    &.is-big{
      width: 655px;
    }
    .c-checkout-right__total{
      font-size: 18px;
    }
    .c-checkout-bill{
      display: block;
      label{
        display: inline-block;
        max-width: 58%;
      }
    }
  }
  .c-checkout-left{
    width: 655px;
    float: left;
    &.is-small{
      width: 300px;
    }
    .c-checkout-bill{
      display: none;
    }
  }
  .c-checkout-next{
    padding-bottom: 0;
  }
}
@media (min-width: $screen-lg-min){//pc 1200px up
  .c-checkout-right{
    width: 400px;
    &.is-big{
      width: 750px;
    }
  }
  .c-checkout-left{
    width: 750px;
    &.is-small{
      width: 400px;
    }
  }
  .c-checkout-product{
    .b-grid{
      .b-grid__img{
        width: 70px;
        height: 70px;
        a{
          width: 70px;
          height: 70px;
        }
        img{
          max-width: 70px;
          max-height: 70px;
        }
      }
      .b-grid__content{
        margin-right: 100px;
        margin-left: 85px;
        &.g-info{
          margin-left: 0;
        }
      }
      .b-grid__smallprice{
        display: inline-block;
        vertical-align: middle;
        padding-top: 0;
      }
    }
  }
}
@media (min-width: $screen-xl-min){//pc 1440px up
  .c-checkout-right{
    width: 530px;
    &.is-big{
      width: 850px;
    }
  }
  .c-checkout-left{
    width: 850px;
    &.is-small{
      width: 530px;
    }
  }
}
//end cart responsive css
/*---------- end cart css ----------*/