/*---------- detail css ----------*/
.c-product{
  padding: 10px;
  background: $color-white;
  margin-bottom: 20px;
  &__row{
    margin-bottom: 7px;
  }
  &__line{
    height: 1px;
    background: $color-border;
    margin: 15px 0 20px;
  }
  &__check{
    padding-left: 25px;
    display: block;
    .fa{
      font-size: 14px;
      margin: 1px 0 0 -25px;
      float: left;
      color: $color-primary;
    }
  }
}
.c-product-check{
  ul{
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    li{
      padding-left: 25px;
      display: block;
      padding-bottom: 3px;
      font-size: 13px;
      a{
        text-decoration: none;
        color: $color-text;
      }
      .fa{
        font-size: 14px;
        margin: 1px 0 0 -25px;
        float: left;
        color: $color-primary;
      }
    }
  }
}
.c-product-head{
  margin-bottom: 15px;
  border-bottom: 1px solid $color-border;
  padding-bottom: 8px;
  &__title{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    color: $color-text;
  }
  &__desc{
    font-size: 14px;
    margin: 0;
    line-height: normal;
    line-height: 22px;
    img{
      height: 22px;
    }
  }
}
.c-star{
  display: inline-block;
  vertical-align: middle;
  i{
    font-size: 14px;
    color: $color-time;
    &.yellow{
      color: $color-primary;
    }
  }
  &.c-star-click{
    i{
      cursor: pointer;
    }
  }
}
.c-product-left{
  margin-bottom: 15px;
}
.c-product-image{
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
  border: 1px solid $color-border;
  padding: 9px;
  .c-tag-sale{
    top: 0;
    left: 9px;
  }
  .b-table__cell{
    text-align: center;
    height: 248px;
  }
  img{
    max-width: 248px;
    max-height: 248px;
  }
  &__zoom{
    position: absolute;
    z-index: 5;
    bottom: 9px;
    right: 9px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 36px;
    padding: 25px 0 0 25px;
    text-align: center;
  }
}
.c-product-social{
  text-align: center;
  margin-bottom: 10px;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    li{
      display: inline-block;
      vertical-align: top;
      margin: 0 2px;
      label{
        font-weight: 400;
        font-size: 13px;
        margin: 0;
      }
      a{
        color: $color-white;
        display: block;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        font-size: 16px;
        @include border-radius(100%);
      }
      .c-product-like{
        border-left: 1px solid $color-border;
        padding-left: 5px;
      }
    }
  }
}
.c-product-thumb{
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  margin-left: 20px;
  margin-right: 20px;
  .owl-carousel{
    .owl-nav{
      .owl-next, .owl-prev{
        position: absolute;
        z-index: 2;
        top: 0;
        color: $color-primary;
        width: 20px;
        height: 50px;
        font-size: 30px;
        line-height: 48px;
        text-align: center;
        &:before{
          font-family: $font-awesome;
          line-height: 1;
        }
        &:hover{
          color: $color-primary;
        }
      }
      .owl-next{
        right: -20px;
        &:before{
          content: "\f105";
        }
      }
      .owl-prev{
        left: -20px;
        &:before{
          content: "\f104";
        }
      }
    }
  }
}
.c-thumb-item{
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 0 auto;
  a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50px;
    height: 50px;
  }
  img{
    max-width: 50px;
    max-height: 50px;
    width: auto !important;
    height: auto;
    display: inline !important;
  }
}
.c-product-like{
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  .fa{
    font-size: 16px;
    color: $color-danger;
    margin-right: 5px;
    vertical-align: middle;
  }
}
.c-product-main{
  .c-product__row{
    label{
      margin-top: 0;
      margin-bottom: 3px;
      font-weight: 400;
      width: 105px;
      float: left;
    }
  }
  &__text{
    margin-left: 115px;
    min-height: 25px;
  }
  &__price{
    color: $color-danger;
    font-size: 24px;
    margin-top: -3px;
    display: inline-block;
    vertical-align: top;
  }
  &__oldprice{
    color: $color-time;
    text-decoration: line-through;
  }
  &__gadient{
    margin-bottom: 15px;
    padding-bottom: 1px;
    position: relative;
    z-index: 1;
    @include linear-gradient(top, rgba(255,255,255,0), #f3f3f3);
    @include border-radius(4px);
    .c-product__row{
      padding-left: 10px;
      padding-right: 10px;
      font-size: 13px;
    }
    .c-product-like{
      margin-bottom: 10px;
    }
    .c-product-main__text{
      .table{
        margin-bottom: 15px;
        >thead{
          >tr{
            >th{
              padding: 5px 8px;
              border: none;
              border-bottom:1px solid $color-border;
              font-size: 13px;
              .td-number{
                width: 50%;
              }
              .td-price{
                width: 50%;
              }
            }
          }
        }
        >tbody{
          >tr{
            >td{
              padding: 5px 8px;
              border:none;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  &__allprice{
    text-align: center;
    border-top: 1px solid $color-border;
    a{
      text-decoration: none;
      display: block;
      padding: 10px 0;
      font-style: italic;
      &:hover{
        color: $color-primary;
      }
    }
  }
  &__tax{
    border-top: 1px solid $color-border;
    padding: 10px;
    display: none;
    .table{
      margin-bottom: 0;
      .lbl{
        width: 65%;
      }
      .val{
        width: 35%;
        color: $color-primary;
      }
    }
  }
  &__select{
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    margin-right: 5px;
    .disabled{
      color: $color-time;
    }
  }
  &__tip{
    line-height: 30px;
  }
  &__number{
    display: inline-block;
    vertical-align: top;
    width: 80px;
  }
  &__button{
    padding: 10px 0;
    .btn{
      margin-bottom: 10px;
    }
    .btn-primary.btn-lg{
      margin-right: 10px;
    }
  }
  &__support{
    .c-product__check{
      .fa{
        font-size: 16px;
        margin: 0 0 0 -25px;
        color: $color-primary;
      }
    }
  }
  &__hint{
    .bg-danger{
      padding: 10px;
      font-size: 13px;
      font-style: italic;
    }
  }
}
.c-color{
  min-height: 5px;
  margin-bottom: -5px;
  .c-color-item{
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 5px 0;
    padding: 2px;
    border:1px solid $color-border;
    cursor: pointer;
    text-align: center;
    span{
      display: block;
      width: 28px;
      height: 28px;
    }
    img{
      height: 28px;
      max-width: 28px;
      width: auto;
    }
    &:hover, &.active, &.is-active{
      border-color: $color-primary;
    }
    &.disabled{
      border: 1px dashed $color-border;
      img{
        opacity: 0.7;
      }
    }
  }
}
.c-product-right{
  display: none;
  position: relative;
  z-index: 1;
  &__banner{
    margin-bottom: 10px;
    img{
      text-align: center;
      max-width: 100%;
      height: auto;
    }
  }
  &__gadient{
    position: relative;
    z-index: 1;
    &:before{
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      height: 85px;
      @include linear-gradient(top,$color-bg3, rgba(255,255,255,0));
      @include border-radius(4px 4px 0 0);
    }
  }
  &__title{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: $color-primary;
    //margin-bottom: 15px;
    position: relative;
    z-index: 3;
    //padding: 15px 10px 0;
    padding: 10px 0 10PX;
  }
  &__commit{
    position: relative;
    z-index: 3;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        &:last-child{
          .b-grid{
            .b-grid__content{
              border-bottom: none;
            }
          }
        }
      }
    }
    .b-grid{
      overflow: hidden;
      margin-bottom: 12px;
      .b-grid__img{
        width: 40px;
        height: auto;
        img{
          max-width: 100%;
          width: auto;
          min-height: 0;
        }
      }
      .b-grid__content{
        margin-left: 48px;
        padding-bottom: 12px;
        border-bottom: 1px solid $color-border;
      }
      .b-grid__row{
        color: $color-text;
        font-size: 13px;
        line-height: 18px;
      }
      .b-grid__title{
        color: $color-text;
        font-weight: 700;
      }
    }
  }
}
.c-product-sale{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      padding-top: 10px;
      padding-bottom: 10px;
      float: left;
      width: percentage(1/2);
    }
  }
}
.c-tabs{
  &.is-detail{
    background: $color-white;
    margin-bottom: 25px;
    .c-tabs__title{
      height: 40px;
      background: $color-bg2;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
          float: left;
          display: none;
          max-width: none;
          width: auto;
          a{
            display: block;
            text-decoration: none;
            color: $color-text;
            line-height: 40px;
            text-transform: uppercase;
            font-weight: 700;
            padding: 0 15px;
            background: transparent;
          }
          &.active, &.is-active{
            display: block;
            background: $color-primary;
            a{
              //background: $color-bg3;
              color: $color-white;
            }
          }
        }
      }
    }
    .c-tabs__pane{
      display: block;
      padding: 12px 10px;
      &.active{
        display: block;
      }
    }
    .c-tabs__label{
      font-weight: 700;
      padding-left: 10px;
      border-left: 3px solid $color-primary;
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
}
.c-product-comment{
  iframe{
    width: 100%;
  }
  >img{
    max-width: 100%;
  }
}
.c-product-spec{
  padding-bottom: 15px;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      color: $color-text;
      line-height: normal;
      margin-bottom: 12px;
      label{
        margin: 0;
        font-weight: 400;
        color: $color-time;
      }
    }
  }
}
.c-rate-item{
  margin-bottom: 15px;
  &__row{
    margin-bottom: 5px;
    line-height: 22px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__time{
    color: $color-time;
  }
  &__title{
    color: $color-secondary;
  }
  .c-star{
    margin-right: 7px;
  }
}
.c-rate-more{
  margin-bottom: 25px;
  text-align: center;
}
.c-rate-form{
  padding-top: 20px;
  border-top: 1px solid $color-border;
  margin-bottom: 30px;
  .c-star{
    padding-top: 7px;
  }
  &__hint{
    padding-top: 7px;
    display: inline-block;
    vertical-align: middle;
  }
  textarea{
    min-height: 75px;
  }
}
.c-supplier-info{
  background: $color-white;
  margin-bottom: 20px;
  padding: 15px;
  &__left{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-border2;
    .b-grid{
      min-height: 80px;
      .b-grid__img{
        width: 80px;
        height: 80px;
        position: relative;
        z-index: 1;
        img{
          min-height: 80px;
        }
        .icon-postmartmall-shop{
          position: absolute;
          z-index: 2;
          bottom: 0;
          left: 0;
        }
      }
      .b-grid__content{
        margin-left: 95px;
      }
    }
  }
  &__right{
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        padding-bottom: 5px;
        label{
          font-weight: 400;
          margin: 0 5px 0 0;
        }
        span{
          color: $color-primary;
        }
      }
    }
  }
}
.c-promotion-detail{
  border: 1px dashed $color-primary;
  &__title{
    padding: 7px 15px;
    background: $color-secondary;
    color: $color-white;
    border-bottom: 1px dashed $color-primary;
  }
  &__content{
    padding: 15px;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        padding-left: 12px;
        position: relative;
        z-index: 1;
        font-size: 13px;
        margin-bottom: 7px;
        &:last-child{
          margin-bottom: 0;
        }
        &:before{
          content: "";
          position: absolute;
          z-index: 2;
          top: 7px;
          left: 0;
          width: 6px;
          height: 6px;
          background: $color-secondary;
          @include border-radius(100%);
        }
      }
    }
  }
}
//detail responsive css
@media (min-width: $screen-xs-small-min){
  .c-tabs{
    &.is-detail{
      .c-tabs__pane{
        padding: 17px 15px;
      }
    }
  }
}
@media (min-width: $screen-sm-min){
  .c-product{
    padding: 15px;
    margin-bottom: 25px;
  }
  .c-product-head{
    margin-bottom: 20px;
    &__title{
      font-size: 22px;
    }
  }
  .c-product-check{
    ul{
      li{
        float: left;
        width: percentage(1/2);
      }
    }
  }
  .c-product-left{
    margin-bottom: 0;
    float: left;
    width: 310px;
  }
  .c-product-image{
    .b-table__cell{
      height: 288px;
    }
    img{
      max-width: 288px;
      max-height: 288px;
    }
  }
  .c-product-like{
    text-align: left;
  }
  .c-product-main{
    float: right;
    width: 370px;
    .c-product__row{
      label{
        //width: 105px;
        //float: left;
        margin-bottom: 0;
        &.c-product-main__lb{
          line-height: 25px;
        }
      }
    }
    &__text{
      margin-left: 125px;
      //min-height: 25px;
    }
    &__button{
      .btn{
        margin-bottom: 0;
      }
    }
  }
  .c-product-sale{
    padding: 5px 0;
    ul{
      li{
        width: percentage(1/3);
      }
    }
  }
  .c-tabs{
    &.is-detail{
      margin-bottom: 30px;
      .c-tabs__title{
        height: 55px;
        ul{
          li{
            display: block;
            a{
              line-height: 55px;
              padding: 0 20px;
            }
          }
        }
      }
    }
  }
  .c-product-spec{
    ul{
      li{
        float: left;
        width: percentage(1/2);
      }
    }
  }
  .c-supplier-info{
    margin-bottom: 25px;
    &__left{
      float: left;
      width: 40%;
      padding-right: 15px;
      padding-bottom: 0;
      margin-bottom: 0;
      border-right: 1px solid $color-border2;
      border-bottom: none;
    }
    &__right{
      float: left;
      width: 60%;
      padding-left: 15px;
      ul{
        li{
          float: left;
          width: percentage(1/2);
          padding-bottom: 15px;
        }
      }
    }
  }
}
@media (min-width: $screen-md-min){
  .c-product{
    margin-bottom: 30px;
  }
  .c-product-head{
    margin-bottom: 25px;
    &__title{
      //font-size: 24px;
    }
  }
  .c-product-left{
    margin-right: 15px;
  }
  .c-product-main{
    float: left;
    width: 390px;// add new
    &__gadient{
      .c-product-like{
        position: absolute;
        z-index: 2;
        top: 5px;
        right: 15px;
        margin-bottom: 0;
      }
    }
  }
  .c-product-right{
    float: right;
    display: block;
    width: 210px;//248
  }
  .c-product-content{
    //width: 740px;
    //float: left;
  }
  .c-product-side{
    width: 225px;
    float: right;
    .c-box{
      .c-box__title{
        text-align: center;
        padding: 12px 15px;
        .c-box__title__name{

        }
      }
    }
  }
  .c-product-sale{
    padding: 5px 0;
    ul{
      li{
        float: none;
        width: auto;
      }
    }
  }
  .c-tabs{
    &.is-detail{
      .c-tabs__title{
        ul{
          li{
            &:hover{
              a{
                color: $color-primary;
              }
            }
            &.active, &.is-active{
              &:hover{
                a{
                  //background: $color-bg3;
                  color: $color-white;
                }
              }
            }
          }
        }
      }
      .c-tabs__label{
        margin-bottom: 20px;
      }
    }
  }
  .c-supplier-info{
    margin-bottom: 30px;
  }
}
@media (min-width: $screen-lg-min){
  .c-product{
    padding: 17px 20px;
  }
  .c-product-left{
    margin-right: 20px;
    width: 460px;//362
  }
  .c-product-image{
    .b-table__cell{
      height: 440px;//340
    }
    img{
      max-width: 440px;//340
      max-height: 440px;//340
    }
  }
  .c-product-main{
    width: 425px;//457
    &__gadient{
      .c-product__row{
        padding-right: 25px;
      }
    }
    &__button{
      .btn-primary.btn-lg{
        min-width: 195px;
      }
    }
  }
  .c-product-right{
    //width: 280px;
  }
  .c-product-content{
    //width: 940px;
  }
  .c-supplier-info{
    &__left{
      width: percentage(1/3);
    }
    &__right{
      width: percentage(2/3);
      ul{
        li{
          width: percentage(1/3);
        }
      }
    }
  }
}
@media (min-width: $screen-xl-min){
  .c-product-left{
    margin-right: 30px;
  }
  .c-product-main{
    width: 605px;
  }
  .c-product-right{
    width: 250px;
  }
}
@media (max-width: $screen-xs-max){
  .c-product-image{
    &:before{
      z-index: 4;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
    }
  }
  .cloudzoom-zoom-inside{
    display:none !important;
  }
  .cloudzoom-blank{
    display:none !important;
  }
}
//end detail responsive css
/*---------- end detail css ----------*/