/*---------- news css ----------*/
.c-news-content{
  padding: 10px;
}
//news responsive css
@media (min-width: $screen-xs-small-min){// mobile lanscape

}
@media (min-width: $screen-sm-min){// ipad 768px
  .c-news-content{
    padding: 15px;
  }
}
@media (min-width: $screen-md-min){//pc 1024px up

}
@media (min-width: $screen-lg-min){//pc 1200px up

}
@media (min-width: $screen-xl-min){//pc 1440px up

}
//end news responsive css
/*---------- end news css ----------*/