/*---------- product css ----------*/
.c-tag-countdown{
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  text-align: center;
  width: 167px;
  height: 35px;
  color: $color-white;
  padding-top: 5px;
  background-image: url("../images/v2/tag-countdown.png");
  background-position: center center;
  background-repeat: no-repeat;
  line-height: 30px;
  .day{
    &:after{
      content: "ngày";
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  .hour{
    &:after{
      content: ":";
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  .minute{
    &:after{
      content: ":";
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
.c-star{
  .fa{
    color: $color-border;
    font-size: 12px;
  }
  &.is-1{
    .fa{
      &:nth-child(1){
        color: $color-primary;
      }
    }
  }
  &.is-1-half{
    .fa{
      &:nth-child(1){
        position: relative;
        z-index: 1;
        &:after{
          content: '\f089';
          color: $color-primary;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
        }
      }
    }
  }
  &.is-2{
    .fa{
      &:nth-child(1),&:nth-child(2){
        color: $color-primary;
      }
    }
  }
  &.is-2-half{
    .fa{
      &:nth-child(1){
        color: $color-primary;
      }
      &:nth-child(2){
        position: relative;
        z-index: 1;
        &:after{
          content: '\f089';
          color: $color-primary;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
        }
      }
    }
  }
  &.is-3{
    .fa{
      &:nth-child(1),&:nth-child(2),&:nth-child(3){
        color: $color-primary;
      }
    }
  }
  &.is-3-half{
    .fa{
      &:nth-child(1),&:nth-child(2){
        color: $color-primary;
      }
      &:nth-child(3){
        position: relative;
        z-index: 1;
        &:after{
          content: '\f089';
          color: $color-primary;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
        }
      }
    }
  }
  &.is-4{
    .fa{
      &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){
        color: $color-primary;
      }
    }
  }
  &.is-4-half{
    .fa{
      &:nth-child(1),&:nth-child(2),&:nth-child(3){
        color: $color-primary;
      }
      &:nth-child(4){
        position: relative;
        z-index: 1;
        &:after{
          content: '\f089';
          color: $color-primary;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
        }
      }
    }
  }
  &.is-5{
    .fa{
      &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5){
        color: $color-primary;
      }
    }
  }
  &.is-5-half{
    .fa{
      &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){
        color: $color-primary;
      }
      &:nth-child(5){
        position: relative;
        z-index: 1;
        &:after{
          content: '\f089';
          color: $color-primary;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
        }
      }
    }
  }
}
.c-tag-sale{
  background-image: url('../images/v2/tag-sale.png');
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 40px;
  height: 47px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  padding-top: 3px;
  color: $color-primary;
  b{
    display: block;
    font-size: 9px;
    color: $color-white;
  }
}
.c-rank-top{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-image: url('../images/v2/icon-top2.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 84px;
  height: 22px;
  color: $color-white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 9px;
  line-height: 20px;
  padding-right: 20px;
  text-align: center;
  &.is-1{
    background-image: url('../images/v2/icon-top1.png');
    width: 81px;
    color: $color-secondary;
  }
}
.c-product-square{
  //background: $color-white;
  position: relative;
  z-index: 1;
  padding-top: calc(100% + 86px);
  &__shadow{
    background: $color-white;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    border: 1px solid $color-bg2;
  }
  .c-tag-sale{
    right: 5px;
    z-index: 4;
  }
  .c-rank-top{
    z-index: 4;
    top: 10px;
    left: -5px;
  }
  .icon-ocop{
    position: absolute;
    z-index: 3;
    bottom: 5px;
    left: 5px;
  }
  &__thumb{
    //border: 1px solid $color-white;
    position: relative;
    z-index: 1;
    padding-top: 100%;
    //padding-top: calc(100% - 2px);
    margin-bottom: 7px;
    a{
      display: block;
      display: flex;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    img{
      width: auto !important;
      height: auto;
      display: inline !important;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .c-tag-countdown{
    z-index: 4;
    top: 11px;
    right: -6px;
  }
  &__content{
    padding: 0 4px 4px;
  }
  &__row{
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 0 !important;
    }
  }
  .c-product-square__title{
    text-decoration: none;
    color: $color-text;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 12px;
  }
  &__price{
    color: $color-danger;
    font-weight: 700;
    font-size: 14px;
  }
  &__oldprice{
    margin-left: 5px;
    color: $color-time;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 12px;
    //display: none;
  }
  .icon-mall{
    margin-right: 4px;
    vertical-align: middle;
    margin-top: -1px;
  }
  &__view{
    float: right;
    font-size: 12px;
    margin-top: 2px;
    color: $color-time;
    .fa{
      font-size: 12px;
      margin-right: 4px;
    }
  }
  .c-product-square__btn{
    display: none;
    a{
      background: $color-primary;
      text-decoration: none;
      color: $color-white;
      width: 100%;
      display: block;
      text-transform: uppercase;
      padding: 10px 0;
      text-align: center;
      font-size: 13px;
      &.is-half{
        width: 50%;
        float: left;
        border-right: 1px solid rgba($color-white,0.2);
        &:last-child{
          border-right: none;
        }
      }
    }
  }
  &.is-sale{
    .c-product-square__oldprice{
      display: inline;
    }
  }
}
.is-sale{
  .c-product-square{
    &__oldprice{
      display: inline;
    }
  }
}
.c-product-grid{
  ul{
    list-style: none;
    margin: 0 -3px;
    padding: 0;
    li{
      float: left;
      width: percentage(1/2);
      padding-left: 3px;
      padding-right: 3px;
      padding-bottom: 6px;
    }
  }
}
.c-browse-control{
  background: $color-bg2;
  padding: 10px;
  margin-bottom: 15px;
  &__order{
    label{
      font-weight: 400;
      margin-bottom: 5px;
      font-size: 14px;
    }
  }
  &__title{
    margin-bottom: 7px;
    h1{
      margin: 0;
      font-size: 20px;
      line-height: normal;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
.c-filter-mobile{
  padding: 10px 10px 0;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      float: left;
      width: percentage(1/2);
      a{
        text-decoration: none;
        display: block;
        padding: 5px 0;
        color: $color-time;
        text-transform: uppercase;
        .fa{
          margin-right: 5px;
          color: $color-primary;
        }
      }
    }
  }
}
.c-browse-slider{
  margin-bottom: 15px;
}
//product responsive css
@media (min-width: $screen-xs-small-min){// mobile lanscape
  .c-product-grid{
    ul{
      li{
        width: percentage(1/3);
      }
    }
  }
  .c-filter-mobile{
    padding: 10px 15px 0;
  }
}
@media (min-width: $screen-sm-min){// ipad 768px
  .c-product-square{
    padding-top: calc(100% + 99px);
    &__shadow{
    }
    &__thumb{
      margin-bottom: 10px;
    }
    &__row{
      margin-bottom: 7px;
    }
    &__content{
      padding: 0 9px 4px;
    }
    .c-product-square__title{
      font-size: 13px;
    }
    &__price{
      font-size: 16px;
    }
    &__oldprice{
      font-size: 14px;
    }
  }
  .c-product-grid{
    ul{
      margin: 0 -5px;
      li{
        width: percentage(1/4);
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
      }
    }
  }
  .c-browse-control{
    min-height: 36px + 20px;
    &__order{
      float: right;
      label{
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        margin-right: 10px;
      }
      .form-control{
        width: 140px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    &__title{
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      max-width: 65%;
    }
  }
}
@media (min-width: $screen-md-min){//pc 1024px up
  .c-product-square{
    &__thumb{
      img{
        @include transition-all(0.2s);
      }
      &:hover{
        img{
          opacity: 0.5;
        }
      }
    }
    .c-product-square__title{
      @include transition-all(0.2s);
      &:hover{
        color: $color-primary;
      }
    }
  }
  .c-product-hover{
    .c-product-square{
      &:hover{
        z-index: 2;
        .c-product-square__shadow{
          border-color: $color-primary;
          @include box-shadow(0 2px 4px rgba($color-black,0.15));
        }
        .c-product-square__title{
          white-space: normal;
        }
        .c-product-square__oldprice{
          display: inline;
        }
        .c-product-square__btn{
          display: block;
          margin: 0 -9px -4px;
        }
      }
      .c-product-square__btn{
        a{
          &:hover{
            background: $color-primary-dark;
          }
        }
      }
    }
  }
  .c-filter-mobile{
    display: none;
  }
}
@media (min-width: $screen-lg-min){//pc 1200px up
  .c-product-grid{
    ul{
      //margin: 0 -10px;
      li{
        width: percentage(1/5);
        //padding-left: 10px;
        //padding-right: 10px;
        //padding-bottom: 20px;
      }
    }
  }
  .c-browse-control{
    padding: 15px;
    margin-bottom: 15px;
    &__title{
      h1{
        font-size: 22px;
      }
    }
  }
}
@media (min-width: $screen-xl-min){//pc 1440px up

}
@media (max-width: $screen-xs-max){
  .c-product-square{
    .icon-ocop{
      width: 60px;
      height: 60px;
      background-size: 100% 100%;
    }
  }
}
//end product responsive css
/*---------- end product css ----------*/