/*---------- supplier css ----------*/
.c-supplier{
  background: $color-white;
  padding-top: 10px;
  .c-supplier-info{
    margin-bottom: 0;
  }
}
.c-supplier-banner{
  img{
    width: 100%;
    height: auto;
  }
}
//supplier responsive css
@media (min-width: $screen-xs-small-min){// mobile lanscape

}
@media (min-width: $screen-sm-min){// ipad 768px

}
@media (min-width: $screen-md-min){//pc 1024px up

}
@media (min-width: $screen-lg-min){//pc 1200px up

}
@media (min-width: $screen-xl-min){//pc 1440px up

}
//end supplier responsive css
/*---------- end supplier css ----------*/