﻿//color
$color-bg: #fff;
$color-bg2: #ececec;
$color-bg3: #f5f5f5;
$color-link: #0000ff;
$color-link-hover: #0000ff;
$color-text: #333;
$color-text2: #666;
$color-border: #ddd;
$color-border2: #eaeaea;
$color-time: #999;

$color-info: #0084ff;
$color-success: #75d72c;
$color-primary: #fbaf17;
$color-primary-dark: #f2a704;
$color-primary-mall: $color-primary;//#d03201
$color-primary-mall-dark: $color-primary-dark;//#c72101
$color-secondary: #004587;
$color-warning: #ebe606;
$color-danger: #e5101d;
$color-white: #fff;
$color-black: #000;
$color-gray: #666666;
//$color-pink: #f6459d;
//$color-violet: #c436fe;

//width
$container-sm: 750px;
$container-sm-number: 750;
$container-md: 970px;
$container-md-number: 970;
$container-lg: 1170px;
$container-lg-number: 1170;
$container-xl: 1410px;
$container-xl-number: 1410;

//grid size
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-xl: 1400px;
$screen-xl-min: $screen-xl;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);
$screen-xs-small: 481px;
//more grid size
$screen-xs-small-min: $screen-xs-small;
$screen-xxs-max: ($screen-xs-small-min - 1);

//font
$font-arial: Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-lato: 'Lato',Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-roboto: 'Roboto',Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-roboto-condensed: 'Roboto Condensed','Roboto',Arial;
$font-open-sans: 'Open Sans','Roboto',Arial,sans-serif;
$font-awesome: 'FontAwesome';

//font size
$font-size-xs: 14px;
$line-height-xs: 20px;
$font-size-sm: 14px;
$line-height-sm: 20px;