[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.red {
	color: red;
}
.margin-top-0{
	margin-top: 0 !important;
}
.signup-mc{
	height: 30px;
	text-align: right;
	padding-top: 3px;
	padding-right: 20px;
}
.signup-mc a{
	text-decoration: none;
} 


.otp{
    border: 3px solid #f7a81b;
    letter-spacing: 15px;
    padding: 7px 5px 7px 17px;
    font-size: 20px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    outline: none;
}

.modal {
    display: block; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    /*background-color: #fff; */
}

/*.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 680px;
}*/


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.firm{
    float: none !important;
    width: 160px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
}

.bar-bill{
    height: 40px;
    line-height: 3;
    border-bottom: 1px solid black;
    padding: 0 40px;
}
.bar-bill-a{
    text-decoration: none !important;
}

.btn-remove-image{
    position: absolute;
    z-index: 1;
    background: red;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
        margin-top: -7px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.c-search .c-search__inner .list-group{
    margin-top: 5px;
}
.c-search .c-search__inner .list-group .list-group-item{
   cursor: pointer;
}

.l-footer__commit {
     margin: 0 !important; 
}